            <footer class="footer-1 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-6">
                            <img alt="Logo" class="logo" src="static/img/logo-light.png" />
                        </div>
                        <div id="twitter" class="col-md-6 col-sm-6">
                            <div class="widget">
                                <h5 class="title uppercase">Latest Updates</h5>
                                <hr>
                                <div class="twitter-feed">
                                    <div class="tweets-feed slides" data-widget-id="623173244095303680">
                                        <div id="tweets"></div>
                                    </div>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                        <!-- <div id="instagram" class="col-md-4 col-sm-6">
                            <div class="widget">
                                <h5 class="title uppercase">Facebook</h5>
                                <hr>
                                <div id="fb-root"></div>
<div class="fb-page" data-href="https://www.facebook.com/skullysystems" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/skullysystems"><a href="https://www.facebook.com/skullysystems">SKULLY Systems</a></blockquote></div></div>
                            </div>
                        </div> -->
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            {{> subnav}}
                        </div>
                        <div class="col-sm-6 col-xs-12 desk-right">
                            <ul class="list-inline social-list">
                                <li>
                                    <a href="https://twitter.com/skullysystems" target="_blank">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/SKULLYSystems" target="_blank">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com/skullysystems/" target="_blank">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://staging.skully.com/videos" target="_blank">
                                        <i class="ti-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="sub">&copy; Copyright 2015 - Skully</span>
                        </div>
                </div>
                <!--end of container-->
                </div>
                <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
                {{{extra}}}
            </footer>
