<div class="row">
    <!-- <div class="col-md-2 col-sm-6"> -->
        <!-- <img alt="Logo" class="logo" src="static/img/logo-light.png"  height="30" width="125"/> -->
    <!-- </div> -->
    <!--<div id="twitter" class="col-md-6 col-sm-6">
        <div class="widget">
            <h5 class="title uppercase">Latest Updates</h5>
            <hr>
            <div class="twitter-feed">
                <div class="tweets-feed slides" data-widget-id="623173244095303680">
                    <div id="tweets"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="instagram" class="col-md-4 col-sm-6">
        <div class="widget">
            <h5 class="title uppercase">Instagram</h5>
            <hr>
            <div class="instafeed" data-user-name="skullysystems">
                <ul></ul>
            </div>
        </div>
    </div>-->
</div>
<!--end of row-->
