<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.5.0/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="static/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="static/css/budicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="static/css/avgrund.css" rel="stylesheet" type="text/css" media="all" />
    <link href="static/css/youmax_blue_custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    {{{cssfile}}}
</head>
