<nav class="bg-dark">
            <div class="nav-bar mob">
            <div class="module left">
                    <a href="/">
                        <img class="logo logo-light" alt="SKULLY" src="static/img/logo-light.png" />
                        <img class="logo logo-dark" alt="SKULLY" src="static/img/logo-dark.png" />
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li>
                                <a href="ar1">
                   AR-<span class="ar1 number color-red font14 xbold">1</span>
                 </a>
                            </li>
                            <hr>
                            <li>
                                <a href="app">
                   APP
                 </a>
                            </li>
                            <hr>
                            <li>
                                <a href="videos">
                   VIDEOS
                 </a>
                            </li>
                            <hr>
                            <li>
                                <a href="aboutus">
                   ABOUT
                 </a>
                 <hr>
                  <li>
                                        <a href="careers">
                       CAREERS
                     </a>
                                    </li>
                                    <hr>
                                    <li>
                                        <a href="press">
                       PRESS
                     </a>
                                    </li>
                                    <hr>
                            </li>
                             <li>
                    <a href="faq">
                       FAQ
                     </a>
                                    </li>
                                    <hr>
                            <li>
                                <a target="_blank" href="https://skully.zendesk.com/hc/en-us">
                   SUPPORT
                 </a>
                 <hr>
                    </div>
                    <!--end of menu module-->
                    <div id="storebutton" class="module right">
                        <a class="btn btn-sm btn-filled" href="store">STORE</a>
                    </div>
                    <div id="storebutton" class="module right">
                        <a class="btn btn-sm btn-filled" href="http://store.skully.com/">PRE-ORDER</a>
                    </div>
                </div>
                <!--end of menu module-->
            </div>
<!--WEFWEFWEFWEFWEFWEFWEFWEF-->



            <div class="nav-bar desk">
                <div class="module left">
                    <a href="/">
                        <img class="logo logo-light" alt="SKULLY" src="static/img/logo-light.png" />
                        <img class="logo logo-dark" alt="SKULLY" src="static/img/logo-dark.png" />
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li>
                                <a href="ar1">
                   AR-<span class="ar1 number color-red font14 xbold">1</span>
                 </a>
                            </li>
                            <hr>
                            <li>
                                <a href="app">
                   APP
                 </a>
                            </li>
                            <hr>
                            <li>
                                <a href="videos">
                   VIDEOS
                 </a>
                            </li>
                            <hr>
                            <li class="has-dropdown dropdownfix">
                                <a href="aboutus">
                   ABOUT
                 </a>
                 <hr>
                                <ul>
                                    <li>
                                        <a href="careers">
                       CAREERS
                     </a>
                                    </li>
                                    <hr>
                                    <li>
                                        <a href="press">
                       PRESS
                     </a>
                                    </li>
                                    <hr>
                                    <li>
                                        <a href="aboutus">
                   ABOUT
                 </a>
                                    </li>
                                    <hr>
                                </ul>
                            </li>
                            <li class="has-dropdown dropdownfix">
                                <a target="_blank" href="https://skully.zendesk.com/hc/en-us">
                   SUPPORT
                 </a>
                 <hr>
                                <ul>
                                    <li>
                                        <a href="faq">
                       FAQ
                     </a>
                                    </li>
                                    <hr>
                                    <li>
                                        <a target="_blank" href="https://skully.zendesk.com/hc/en-us">
                   SUPPORT
                 </a>
                                    </li>
                                    <hr>
                                </ul>
                    </div>
                    <!--end of menu module-->
                    <div id="storebutton" class="module right">
                        <a class="btn btn-sm btn-filled" href="store">STORE</a>
                    </div>
                    <div id="storebutton" class="module right">
                        <a class="btn btn-sm btn-filled" href="http://store.skully.com/">PRE-ORDER</a>
                    </div>
                </div>
                <!--end of menu module-->
            </div>
        </nav>
