<nav class="bg-dark">
            <div class="nav-bar">
                <div class="module left">
                    <a href="index.html">
                        <img class="logo logo-light" alt="SKULLY" src="static/img/logo-light.png" />
                        <img class="logo logo-dark" alt="SKULLY" src="static/img/logo-dark.png" />
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li>
                                <a href="index.html">
                   AR-1
                 </a>
                            </li>
                            <li>
                                <a href="home-app-landing.html">
                   APP
                 </a>
                            </li>
                            <li>
                                <a href="videos.html">
                   VIDEOS
                 </a>
                            </li>
                            <li class="has-dropdown dropdownfix">
                                <a href="aboutus.html">
                   ABOUT
                 </a>
                                <ul>
                                    <li>
                                        <a href="careers.html">
                       CAREERS
                     </a>
                                    </li>
                                    <li>
                                        <a href="press.html">
                       PRESS
                     </a>
                                    </li>
                                    <li>
                                        <a href="aboutus.html">
                   ABOUT
                 </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown dropdownfix">
                                <a href="https://skully.zendesk.com/hc/en-us">
                   SUPPORT
                 </a>
                                <ul>
                                    <li>
                                        <a href="faq.html">
                       FAQ
                     </a>
                                    </li>
                                    <li>
                                        <a href="https://skully.zendesk.com/hc/en-us">
                   SUPPORT
                 </a>
                                    </li>
                                </ul>
                    </div>
                    <!--end of menu module-->
                    <div class="module right">
                        <a class="btn btn-sm btn-filled" href="http://store.skully.com">STORE</a>
                    </div>
                </div>
                <!--end of menu module-->
            </div>
        </nav>
