<div class="sidebar-extra hidden-xs">
  <a href="mailto:connect@skully.com">
    <i class="fa-icon-mail-alt"></i>
    <span>connect@skully.com</span>
  </a>
</div>
<div class="sidebar-extra hidden-xs">
  <a onclick="$zopim.livechat.window.show();">
    <i class="fa-icon-comment"></i>
    <span>Live Chat</span>
  </a>
</div>