<section class="page-header bg-dark">
  <div class="container">
    <div class="row">
      <h1 class="page-title">Support</h1>
      <div class="col-xs-6 col1 visible-xs-block">
        <a href="mailto:connect@skully.com">
          <i class="fa-icon-mail-alt"></i>
          <span>connect@skully.com</span>
        </a>
      </div>
      <div class="col-xs-6 col2 visible-xs-block">
        <a onclick="$zopim.livechat.window.show();">
          <i class="fa-icon-comment"></i>
          <span>Live Chat</span>
        </a>
      </div>
    </div>
  </div>
</section>