# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/node_modules/
test.html
*.map
/static/img/*.mp4


# OSX stuff
.DS_Store
.AppleDouble
.LSOverride