		<div class="main-container">
		 </section>
            <section class="image-bg fullscreen overlay bg-dark">


            	                <div class="background-image-holder">
								</div>

                <div class="fs-vid-background">
                    <video autoplay muted loop>
                        <source src="video/video2.webm" type="video/webm">
                            <source src="video/video2.mp4" type="video/mp4">
                                <source src="video/video2.ogv" type="video/ogv">


                    </video>

                </div>
                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="uppercase">ABOUT US</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>

            </section>
                <!--end of container-->
            <section>
                <div class="container">
                    <div class="row">
                        <p>
                        Skully pioneers advanced situational awareness technology. The company was founded in 2013 with the goal of revolutionizing the most frequent, ubiquitous, and dangerous aspect of our lives: transportation.
                        Skully’s human-centered approach to design and technology has led to the development of the Skully AR-1, the first intelligent HUD motorcycle helmet for consumers.
                        Skully is a privately held company with strategic partnerships spanning the world’s leading automotive technology companies.
                        </p>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <hr class="mb0">
            <section class="bg-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <h5 class="uppercase">
                                <strong>Team</strong>
                            </h5>
                        </div>
                        <div class="col-md-9 col-sm-12 mb40 mb-xs-24 p0">
                            <div class="col-sm-7 mb64 mb-xs-24">
                                <img alt="Pic" src="img/team-3.jpg" />
                            </div>
                            <div class="col-sm-5 mb64 mb-xs-24">
                                <h5 class="uppercase mb0">Marcus Weller</h5>
                                <span class="inline-block mb40 mb-xs-24">CEO</span>
                                <p>
                                A visionary savant, Marcus Weller, Co-Founder & Chairman of Skully Inc., is a motorcycle fanatic with an obsession for human-centered technology and design. Marcus spent many years working in the automotive and semiconductor industries and was quite content to keep doing so until a motorcycle accident inspired him to form Skully in 2013. His innovations have been lauded by the likes of CNN, Popular Science, USA Today, and Popular Mechanics.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-9 col-md-push-3 col-sm-12 mb40 mb-xs-24 p0">
                            <div class="col-sm-7 mb64 mb-xs-24">
                                <img alt="Pic" src="img/team-2.jpg" />
                            </div>
                            <div class="col-sm-5 mb64 mb-xs-24">
                                <h5 class="uppercase mb0">Mitchell Weller</h5>
                                <span class="inline-block mb40 mb-xs-24">COO</span>
                                <p>
                                As as co-founder and Vice President of Business Operations at Skully, Mitchell (Mitch) Weller is also the Chief of Staff..He’s a people person! Not only that, like Marcus, the CEO, he has an eye for spotting talent which stems from his time as Supervisor in Human Resources for the U.S. Army. With a product management and strategic partnership background as well, when it comes to branching out into new markets, evangelizing the Skully message to new and existing markets, and overall being the eyes and ears of the company, with his ear to the ground watching

                                </p>
                            </div>
                        </div>
                        <div class="col-md-9 col-md-push-3 col-sm-12 mb40 mb-xs-24 p0">
                            <div class="col-sm-7 mb64 mb-xs-24">
                                <img alt="Pic" src="img/team-1.jpg" />
                            </div>
                            <div class="col-sm-5 mb64 mb-xs-24">
                                <h5 class="uppercase mb0">Josh Bloom</h5>
                                <span class="inline-block mb40 mb-xs-24">VP Product</span>
                                <p>Josh Bloom is currently the Vice President of Product Design at Skully. He spent his career working for the likes of Samsung and Frogdesign focused on mobile phones, tablets, wearables, and room scale computing. Josh joined Skully to make the motorsports industry safer for everyone, including designing heads up display motorcycle helmets that look awesome while keeping riders safe.                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            </section>
            <hr class="mb0">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h5 class="uppercase">
                                <strong>Life At Skully</strong>
                            </h5>
                        </div>
                        <div class="col-md-9">
                            <div class="instafeed grid-gallery" data-user-name="skullysystems">
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>