        <div class="main-container">
            <section class="page-title page-title-2 image-bg overlay parallax">
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="img/careersheader.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="uppercase mb8">Careers</h2>
                            <p class="lead mb0">Join the Revolution</p>
                        </div>
                    
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 text-center">
                            <h3 class="mb64 mb-xs-24">Engineering and design are our guiding principles.</h3>
                            <div class="tabbed-content button-tabs">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab-title">
                                            <span>Hardware</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Software</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Design</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Business</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--end of button tabs-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="p0">
                <div class="containr">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 p0">
                            <div class="image-tile inner-title hover-reveal text-center mb0">
                                <img alt="Pic" src="img/team-1.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Josh Bloom</h5>
                                    <span>VP Product</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 p0">
                            <div class="image-tile inner-title hover-reveal text-center mb0">
                                <img alt="Pic" src="img/team-2.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Mitch Wheller</h5>
                                    <span>COO</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 p0">
                            <div class="image-tile inner-title hover-reveal text-center mb0">
                                <img alt="Pic" src="img/team-3.jpg" />
                                <div class="title">
                                    <h5 class="uppercase mb0">Marcus Wheller</h5>
                                    <span>CEO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="uppercase mb64 mb-xs-40 color-primary">Featured In</h4>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="logo-carousel">
                            <ul class="slides">
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="http://www.mensjournal.com/images/h1-mens_journal.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="http://transmosis.com/wp-content/uploads/2014/09/CNET-Logo-Wallpaper.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="http://candelita.is/cafecito/wp-content/uploads/2014/11/entrepreneur-logo.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="http://tctechcrunch2011.files.wordpress.com/2011/11/techcrunch_transparent.png?w=338&h=65" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="http://www.managingcommunities.com/wp-content/uploads/2013/09/popular-science-logo.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="https://upload.wikimedia.org/wikipedia/en/1/11/TheBlaze_Radio_Network_Logo.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="https://upload.wikimedia.org/wikipedia/commons/9/93/The_Logo_of_The_Washington_Post_Newspaper.svg" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="http://www.distilnetworks.com/wp-content/themes/distil/images/v2/press/venture-beat.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end of logo slider-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg-primary pt64 pb64">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="mb8">Begin Your Ride</h2>
                            <p class="lead mb40 mb-xs-24">
                                The future of Transportation - The choice is clear.
                            </p>
                            <a class="btn btn-filled btn-lg mb0" target="_blank" href="http://hire.jobvite.com/CompanyJobs/Careers.aspx?k=JobListing&c=qjK9VfwR">APPLY NOW</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>