        <div class="main-container">

                    <!--end of row-->

                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="product-single">
                        <div class="row mb24 mb-xs-48">
                            <div class="col-md-5 col-sm-6">
                                <div class="image-slider slider-thumb-controls controls-inside">

                                    <ul class="slides">
                                        <li>
                                            <img alt="Image" src="img/shop-product-4.jpg" />
                                        </li>
                                        <li>
                                            <img alt="Image" src="img/shop-product-4_1.jpg" />
                                        </li>
                                        <li>
                                            <img alt="Image" src="img/shop-product-4_2.jpg" />
                                        </li>
                                    </ul>
                                </div>
                                <!--end of image slider-->
                            </div>
                            <div class="col-md-5 col-md-offset-1 col-sm-6">
                                <div class="description">
                                    <h4 class="uppercase">Helmet - Black</h4>
                                    <div class="mb32 mb-xs-24">
                                        <span class="number price">$1499.99</span>
                                    </div>
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>SKU:</strong> 8660</li>
                                        <li>
                                            <strong>COLOURS:</strong> Black, Blue</li>
                                        <li>
                                            <strong>SIZES:</strong> XS,S,M,L,XL</li>
                                    </ul>
                                </div>
                                <hr class="mb48 mb-xs-24">
                                <form class="add-to-cart" action="shop-cart.html" method="get">
                                    <input type="text" placeholder="QTY" />
                                    <input type="submit" value="Add To Cart" />
                                </form>
                            </div>
                        </div>
                        <!--end of row-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tabbed-content text-tabs">
                                    <ul class="tabs">
                                        <li class="active">
                                            <div class="tab-title">
                                                <span>Description</span>
                                            </div>
                                            <div class="tab-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Size Guide</span>
                                            </div>
                                            <div class="tab-content">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Size</th>
                                                            <th>Hat Size</th>
                                                            <th>CM</th>
                                                            <th>Inches</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Small</th>
                                                            <td>
                                                                <span class="number">6 7/8 - 7</span></td>
                                                                <td>
	                                                                <span class="number">55 - 56</span></td>
                                                                <td><span class="number">21 5/8 - 22</span></td>

                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Medium</th>
                                                            <td>
                                                                <span class="number">6 5/8 - 6 3/4</span></td>
                                                                <td>
	                                                                <span class="number">53 - 54</span></td>
                                                                <td><span class="number">20 7/8 - 20 1/4</span></td>

                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Large</th>
                                                            <td>
                                                                <span class="number">7 1/8 - 7 1/4</span></td>
                                                                <td>
	                                                                <span class="number">57 - 58</span></td>
                                                                <td><span class="number">22 1/2 - 22 7/8</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Extra Large</th>
                                                            <td>
                                                                <span class="number">7 3/8 - 7 1/2</span></td>
                                                                <td>
	                                                                <span class="number">59 - 60</span></td>
                                                                <td><span class="number">23 1/4 - 23 5/8</span></td>
                                                        </tr>
														<tr>
                                                            <th scope="row">XX Large</th>
                                                            <td>
                                                                <span class="number">7 5/8 - 7 3/4</span></td>
                                                                <td>
	                                                                <span class="number">61 - 62</span></td>
                                                                <td><span class="number">24 - 24 3/8</span></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Knowledge</span>
                                            </div>
                                            <div class="tab-content">
                                                <ul class="ratings">
                                                    <li>
                                                        <div class="user">
                                                            <ul class="list-inline star-rating">
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                            </ul>
                                                            <span class="bold-h6">Murray Rafferty</span>
                                                            <span class="date number">23/02/2015</span>
                                                        </div>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <div class="user">
                                                            <ul class="list-inline star-rating">
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                            </ul>
                                                            <span class="bold-h6">Claire Taurus</span>
                                                            <span class="date number">15/02/2015</span>
                                                        </div>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                        </p>
                                                    </li>
                                                </ul>
                                                <!--end of ratings-->
                                                <h6 class="uppercase">Leave A Rating</h6>
                                                <form class="ratings-form">
                                                    <div class="overflow-hidden">
                                                        <input type="text" placeholder="Your Name" />
                                                        <input type="text" placeholder="Email Address" />
                                                    </div>
                                                    <div class="select-option">
                                                        <i class="ti-angle-down"></i>
                                                        <select>
                                                            <option selected value="Default">Select A Rating</option>
                                                            <option value="1">1 Star</option>
                                                            <option value="2">2 Stars</option>
                                                            <option value="3">3 Stars</option>
                                                            <option value="4">4 Stars</option>
                                                            <option value="5">5 Stars</option>
                                                        </select>
                                                    </div>
                                                    <textarea placeholder="Comment" rows="3"></textarea>
                                                    <input type="submit" value="Leave Comment" />
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of text tabs-->
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of product single-->
                </div>
                <!--end of container-->
            </section>

            </section>