{{> header title="About SKULLY"}}
    <div class="nav-container">
     {{> navbar}}
        <!-- ACTUAL PAGE CONTENT -->
        <div class="main-container">
            <section class="image-bg fullscreen overlay bg-dark mh700">
            <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="static/img/aboutheader.jpg">
                <div class="fs-vid-background">
                    <video autoplay muted loop>
                        <source src="http://dg6vcgn2vehm4.cloudfront.net/video2.webm" type="video/webm">
                        <source src="http://dg6vcgn2vehm4.cloudfront.net/video2.mp4" type="video/mp4">
                        <source src="http://dg6vcgn2vehm4.cloudfront.net/video2.ogv" type="video/ogv">
                    </video>
                </div>
                </div>
                                <div class="centered">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="uppercase headertext">THE SKULLY STORY</h1>
                        </div>
                    </div>
                    <!--end of row-->
                    </div>
            </section>
            <!--end of container-->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 text-center">
                            <h3 class="mb64 uppercase mb-xs-24">This is Only the Beginning</h3>
                            <div class="tabbed-content button-tabs">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab-title">
                                            <span>Barcelona</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                While riding his motorcycle in an unfamiliar area, CEO Marcus Weller crashes after he takes his eyes off the road for mere seconds to read a street sign.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Dream</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                Reliving the accident in a dream a few months later, Marcus envisions a GPS map floating out in front of his helmet, helping him navigate and avoid collision.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Prototype</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                After searching high and low for a heads-up display helmet, Marcus works on the very first AR-1 prototype, leveraging his PhD in Industrial Psychology.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Indiegogo</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                A small SKULLY team breaks pre-order campaign records on Indiegogo, inspiring supporters from aaround the world to back the development of the AR-1. 
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Disruption</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                As the AR-1 transforms from dream to reality, and begins to ship in December 2015, SKULLY sets its sights on pushing the boundaries of human-centered design in other sectors.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--end of button tabs-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg-third">
                <div class="container">
                <h3 class="text-center uppercase mb64 mb-xs-24">Our Mission</h3>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                                <h4 class="text-center bold">IGNITE</h4>
                            <p class="text-center">
                                We pursue ideas that spur rebellious innovation. 
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                <h4 class="text-center bold">REV</h4>
                            <p class="text-center">
                                We transform the impossible into what is real.
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                <h4 class="text-center bold">DRIVE</h4>
                            <p class="text-center">
                                We relentlessly create with tenacity and passion.
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                                <h4 class="text-center bold">SHIFT</h4>
                            <p class="text-center">
                                We push human capability beyond its limits.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg-third" style="padding: 0px 0px">
                <h3 class="text-center uppercase">LEADERSHIP</h3>
            </section>
            <section class="image-square left">
                <div class="col-md-6 image">
                    <div class="background-image-holder">
                        <img alt="image" class="background-image" src="static/img/team-3.jpg" />
                    </div>
                </div>
                <div class="col-md-6 content">
                    <h3 class="mb5">Marcus Weller</h3>
                    <h4>CEO and Founder</h4>
                    <p class="mb24">Dr. Marcus Weller’s obsession with human-centered technology and design drives the SKULLY mission. Inspired by his own motorcycle accident, Marcus set out to dramatically improve motorcycle safety by enhancing the rider’s basic sensory experiences. With a background in intelligent transportation systems, human factors engineering, and industrial psychology, Marcus pioneered the development of the SKULLY AR-1 helmet. His lifelong passion for riding and experience working with the automotive industry informs his holistic approach to advanced situational awareness technology.</p>
                    <h5><span class="mb-xs-24" style="letter-spacing: 5px">
                                <a class="awesomeblue" href="https://www.linkedin.com/in/marcusweller" target="_blank">
                                    <i class="ti-linkedin"></i>
                                </a>
                                <a class="awesomeblue" href="https://instagram.com/marcusweller/" target="_blank">
                                    <i class="ti-instagram"></i>
                                </a>
                                </span>
                                </h5>
                </div>
            </section>
            <section class="image-square right">
                <div class="col-md-6 image">
                    <div class="background-image-holder">
                        <img alt="image" class="background-image" src="static/img/team-2.jpg" />
                    </div>
                </div>
                <div class="col-md-6 content">
                    <h3 class="mb5">Mitch Weller</h3>
                    <h4>Chief of Staff and Co-Founder</h4>
                    <p class="mb24">
                        Mitchell Weller’s talent for business operations, product management, and material logistics helps propel SKULLY into new and existing markets. His passion for working on motorcycles keeps him grounded and, like his brother Marcus, in tune with the company’s steadfast dedication to enhancing rider safety through technology. With extensive experience as a human resources and operations specialist for the <a class="biolink" href="http://www.goarmy.com/">US Army</a>, Mitchell is an energizing Chief of Staff. His leadership is crucial to the creation, implementation, and management of SKULLY’s business automation solutions.
                    </p>
                    <h5>
                                        <span class="mb-xs-24" style="letter-spacing: 3px">
                    <a class="awesomeblue" href="https://www.linkedin.com/pub/mitchell-weller/81/239/655" target="_blank">
                                    <i class="ti-linkedin"></i>
                                </a>
                                <a class="awesomeblue" href="https://www.facebook.com/memymonkey" target="_blank">
                                    <i class="ti-facebook"></i>
                                </a>
                                </span>
                                </h5>
                </div>
            </section>
            <section class="bg-primary">
            <h3 class="text-center">Meet the Team Who Chases Down the Impossible</h2>
                <div id="pattern" class="pattern">
    <ul class="g2">
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
            <li><img src="https://placeimg.com/640/640/people" alt="Product Name" /><div class="gridoverlay"><span class="name">Bob</span><span class="title">Software Engineer</span></div></li>
        </ul>
    </div>


            </section>
        {{> footer}}
        </div>
        {{> scripts}}
</body>

</html>
