{{> header title="About Skully"}}
    <div class="nav-container">
     {{> navbar}}
        <!-- ACTUAL PAGE CONTENT -->
        <div class="main-container">
            <section class="image-bg fullscreen overlay bg-dark mh700">
            <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="static/img/aboutheader.jpg">
                <div class="fs-vid-background">
                    <video autoplay muted loop>
                        <source src="assets/video/video2.webm" type="video/webm">
                        <source src="assets/video/video2.mp4" type="video/mp4">
                        <source src="assets/video/video2.ogv" type="video/ogv">
                    </video>
                </div>
                </div>
                                <div class="centered">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1 class="uppercase headertext">THE SKULLY JOURNEY</h1>
                        </div>
                    </div>
                    <!--end of row-->
                    </div>
            </section>
            <!--end of container-->
            <section class="bg-third">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 ">
                                <h4 style="text-align: center">If it Doesn't Exist,<span style="font-weight: bold"> Make It.</span></h4>
                            <P style="text-align: center">
                               Founded in 2013, SKULLY is revolutionizing the transportation industry with a groundbreaking idea: built-in situational awareness enhances your riding experience, making the roads safer and more enjoyable for everyone.
                            </P>
                        </div>
                        <div class="col-md-4">
                                <h4 style="text-align: center"><span style="font-weight: bold">Ignite</span> Interest, Break Records</h4>
                            <P style="text-align: center">
                                The SKULLY AR-1, the first smart motorcycle helmet with a heads up display, broke pre-order campaign records, inspiring supporters from 47 countries to back its development.
                            </p>
                        </div>
                        <div class="col-md-4">
                                <h4 style="text-align: center">Listen to Feedback &amp;<span style="font-weight: bold"> Evolve</span></h4>
                            <p style="text-align: center">
                                With worldwide acclaim from beta testers, industry experts, and media outlets, SKULLY is driven to push the boundaries of human-centered design in our current and future products.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg-third" style="padding: 0px 0px">
                                        <h3 class="text-center uppercase">LEADERSHIP</h3>
</section>
            <section class="image-square left">
                <div class="col-md-6 image">
                    <div class="background-image-holder">
                        <img alt="image" class="background-image" src="static/img/team-3.jpg" />
                    </div>
                </div>
                <div class="col-md-6 content">
                    <h3 class="mb5">Marcus Weller</h3>
                    <h4>CEO and Founder</h4>
                    <p class="mb24">Dr. Marcus Weller’s obsession with human-centered technology and design drives the SKULLY mission. Inspired by his own motorcycle accident, Marcus set out to dramatically improve motorcycle safety by enhancing the rider’s basic sensory experiences. With a background in intelligent transportation systems, human factors engineering, and industrial psychology, Marcus pioneered the development of the SKULLY AR-1 helmet. His lifelong passion for riding and experience working with the automotive industry informs his holistic approach to advanced situational awareness technology.</p>
                    <h5><span class="mb-xs-24" style="letter-spacing: 5px">
                                <a class="awesomeblue" href="https://www.linkedin.com/in/marcusweller" target="_blank">
                                    <i class="ti-linkedin"></i>
                                </a>
                                <a class="awesomeblue" href="https://instagram.com/marcusweller/" target="_blank">
                                    <i class="ti-instagram"></i>
                                </a>
                                </span>
                                </h5>
                </div>
            </section>
            <section class="image-square right">
                <div class="col-md-6 image">
                    <div class="background-image-holder">
                        <img alt="image" class="background-image" src="static/img/team-2.jpg" />
                    </div>
                </div>
                <div class="col-md-6 content">
                    <h3 class="mb5">Mitch Weller</h3>
                    <h4>Chief of Staff and Co-Founder</h4>
                    <p class="mb24">
                        Mitchell Weller’s talent for business operations, product management, and material logistics helps propel SKULLY into new and existing markets. His passion for working on motorcycles keeps him grounded and, like his brother Marcus, in tune with the company’s steadfast dedication to enhancing rider safety through technology. With extensive experience as a human resources and operations specialist for the <a class="biolink" href="http://www.goarmy.com/">US Army</a>, Mitchell is an energizing Chief of Staff. His leadership is crucial to the creation, implementation, and management of SKULLY’s business automation solutions.
                    </p>
                    <h5>
                                        <span class="mb-xs-24" style="letter-spacing: 3px">
                    <a class="awesomeblue" href="https://www.linkedin.com/pub/mitchell-weller/81/239/655" target="_blank">
                                    <i class="ti-linkedin"></i>
                                </a>
                                <a class="awesomeblue" href="https://www.facebook.com/memymonkey" target="_blank">
                                    <i class="ti-facebook"></i>
                                </a>
                                </span>
                                </h5>
                </div>
            </section>
            <section class="image-square left">
                <div class="col-md-6 image">
                    <div class="background-image-holder">
                        <img alt="image" class="background-image" src="static/img/team-1.jpg" />
                    </div>
                </div>
                <div class="col-md-6 content">
                    <h3 class="mb5">Josh Bloom</h3>
                    <h4>VP Product</h4>
                    <p class="mb24">
                        Josh Bloom is a designer, prototype expert, and leader who believes in disruptive, meaningful ideas. As SKULLY’s VP of Product, Josh leads multidisciplinary teams through cutting ­edge hardware and software development projects, providing technical guidance and cultivating an environment of creativity at every turn. His previous roles as Creative Director with <a class="biolink" href="http://www.samsung.com/">Samsung</a> and Associate Creative Director with <a class="biolink" href="http://www.frogdesign.com/">frog</a>, a global product strategy and design firm, honed his ability to merge technology with complex design processes, creating intuitive, effortless experiences.
                        <br>
                        <br>Josh relentlessly champions the SKULLY mission and won't rest until everyone on the road is safer.
                    </p>
                    <h5><span class="mb-xs-24" style="letter-spacing: 5px">
                    <a class="awesomeblue" href="https://www.linkedin.com/in/jbloom" target="_blank">
                                    <i class="ti-linkedin"></i>
                                </a>
                                <a class="awesomeblue" href="https://twitter.com/joshbloom" target="_blank">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                                <a class="awesomeblue" href="https://instagram.com/joshbloom/" target="_blank">
                                    <i class="ti-instagram"></i>
                                </a>
                                </span></h5>
                </div>
        </div>
        </section>
        <hr class="mb0">
        <section class="bg-third">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="uppercase">
                                <strong>Life At Skully</strong>
                            </h5>
                    </div>
                    <div class="col-md-9">
                        <div class="instafeed grid-gallery" data-user-name="skullysystems">
                            <ul></ul>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        {{> footer}}
        </div>
        {{> scripts}}
</body>

</html>
