{{> header title="SKULLY App"}}

<body>
    <div class="nav-container">
     {{> navbar}}
        <!-- ACTUAL PAGE CONTENT -->
        <div class="main-container">
            <section class="bg-primary pb0">
                <div class="container pt20">
                    <div class="row mb24 mb-xs-0">
                        <div class="col-sm-10 col-sm-offset-1 text-center">
                            <h3 class="large">Download the App</h3>
                            <!-- <p>
                                With the AR-1’s companion app on your iPhone or Android, you can stream music, see and hear turn-by-turn directions, and use voice commands to communicate with your helmet.
                            </p> -->
                        </div>
                    </div>
                    <div class="row mb64">
                            <div class="col-sm-6 col-md-4 col-md-offset-2">
                                <div class="feature feature-3 text-center">
                                        <a id="btn2" data-content="Coming Soon" rel="popover" data-placement="bottom" data-trigger="hover"><img class="disabled" src="static/img/google_play_badge.svg"></a>
                                </div>
                                <div class="comingsoon mt8 text-center mb48 white">Coming Soon</div>
                                <!--end of feature-->
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="feature feature-3 text-center">
                                    <a id="btn3" data-content="Coming Soon" rel="popover" data-placement="bottom" data-trigger="hover"><img class="disabled" src="static/img/app_store_badge.svg"></a>
                                </div>
                                <div class="comingsoon mt8 text-center mb48 white">Coming Soon</div>
                                <!--end of feature-->
                            </div>
                        </div>
                    <!--end of row-->
                    <div class="row">
                        <img alt="image" src="static/img/app1.png" />
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            {{> footer}}
        </div>
        {{> scripts}}
        <script type="text/javascript">
            var $btn2 = $('#btn2');
$btn2.data('state', 'hover');

var enterShow = function () {
    if ($btn2.data('state') === 'hover') {
        $btn2.popover('show');
    }
};
var exitHide = function () {
    if ($btn2.data('state') === 'hover') {
        $btn2.popover('hide');
    }
};

var clickToggle = function () {
    if ($btn2.data('state') === 'hover') {
        $btn2.data('state', 'pinned');
    } else {
        $btn2.data('state', 'hover')
        $btn3.popover('hover');
    }
};

$btn2.popover({trigger: 'manual'})
    .on('mouseenter', enterShow)
    .on('mouseleave', exitHide)
    .on('click', clickToggle);



            var $btn3 = $('#btn3');
$btn3.data('state', 'hover');

var enterShow = function () {
    if ($btn3.data('state') === 'hover') {
        $btn3.popover('show');
    }
};
var exitHide = function () {
    if ($btn3.data('state') === 'hover') {
        $btn3.popover('hide');
    }
};

var clickToggle = function () {
    if ($btn3.data('state') === 'hover') {
        $btn3.data('state', 'pinned');
    } else {
        $btn3.data('state', 'hover')
        $btn3.popover('hover');
    }
};

$btn3.popover({trigger: 'manual'})
    .on('mouseenter', enterShow)
    .on('mouseleave', exitHide)
    .on('click', clickToggle);

        </script>
</body>

</html>
