{{> header title="SKULLY AR-1" bodyClass="ar1" preventPopup="true"}}
<div class="nav-container">
  {{> navbar}}

  <div class="main-container">
    <!-- <section id="hud" class="pt120 fullheight bg-black">
        JS APPEND HERE 
    </section>-->
    <section id="explosive" class="bg-white pb0 pt0">
        <!-- APPEND STUFF HERE -->
    </section>

    {{> footer-minimal}}
  </div>
  {{> scripts}}
  <script src="/static/js/ar1.js"></script>
  </body>
  </html>
