{{> header title="SKULLY Careers"}}
</head>
<body>
     <div class="nav-container">
     {{> navbar}}
        <!-- ACTUAL PAGE CONTENT -->
        <div class="main-container">
            <section id="vidholder" class="image-bg fullscreen overlay bg-dark mh700">
                <div class="background-image-holder indeximage">
                    <img alt="Background Image" class="indexgif background-image" src="static/img/officeimage.png">
                    <div class="fs-vid-background">
                        <video id="hero" autoplay muted loop>
                            <source src="http://dg6vcgn2vehm4.cloudfront.net/officetime.mp4" type="video/mp4">
                            <source src="http://dg6vcgn2vehm4.cloudfront.net/officetime.webm" type="video/webm">
                            <source src="http://dg6vcgn2vehm4.cloudfront.net/officetime.ogv" type="video/ogv">
                        </video>
                    </div>
                </div>
                <div class="centered">
                    <div class="row">
                        <div class="text-center">
                            <h1 class="uppercase mb8"><span class="index">Join the Movement</span>
                        </div>
                    </div>
                     <!--end of row-->
                </div>
            </section>
            <section data-section-name="app" class="fullheight overlay4 bg-dark image-bg">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="static/img/careers1.jpeg">
                </div>
                <div class="container" style="height: 100%;">
                    <div class="row text-center">
                        <div>
                            <h2>It Takes a Fearless Team to Create the Future</h2>
                        </div>
                    </div>
                    <!--end of row-->
                    </div>
                    <div class="centered">
                        <div class="row mb64">
                            <div class="col-md-6 text-center">
                            <div class="skullyred the-icons span3"><i class="bi_web-code icon-sm"></i></div>
                                <h3>Software</h3>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="skullyred the-icons span3"><i class="bi_setting-wrench icon-sm"></i></div>
                                <h3>Hardware</h3>
                            </div>
                        </div>
                        <div class="row mb64">
                            <div class="col-md-offset-4 col-md-4 text-center">
                                <h4>We Push the Boundaries of Transportation Technology to Improve the Safety of Millions and Amplify the Human Experience</h4>
                            </div>
                        </div>
                        <div class="row mb64">
                            <div class="col-md-6 text-center">
                                <div class="skullyred the-icons span3"><i class="bi_tool-ruler icon-sm"></i></div>
                                <h3>Design</h3>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="skullyred the-icons span3"><i class="bi_doc-briefcase-a icon-sm"></i></div>
                                <h4>Business</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of container-->
            </section>
            <section class="p0">
                <div class="containr">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 p0">
                            <div class="image-tile text-center mb0">
                                <img alt="Pic" src="static/img/P1010696.jpg" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 p0">
                            <div class="image-tile text-center mb0">
                                <img alt="Pic" src="static/img/careers2.jpeg" />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 p0">
                            <div class="image-tile  text-center mb0">
                                <img alt="Pic" src="static/img/P1010817.jpg" />      
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="p0">
                <div class="row">
                    <div class="col-md-4 col-sm-6 p0">
                        <div class="image-tile text-center mb0">
                            <img alt="Pic" src="static/img/P1010838.jpg" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 p0">
                        <div class="image-tile text-center mb0">
                            <img alt="Pic" src="static/img/careers4.jpg" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 p0">
                        <div class="image-tile text-center mb0">
                            <img alt="Pic" src="static/img/careers3.jpeg" />
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </section>
            <section class="bg-primary pt64 pb64">
                <div class="container">
                    <div class="row mb64">
                        <div class="col-md-12 text-center">
                            <h2>Apply Today and Change How Humans Move</h2>
                        </div>
                    </div>
                    <div class="row mb32">
                        <div class="text-center col-md-4">
                            <p>Open PTO that Starts Immediately</p>
                        </div>
                        <div class="text-center col-md-4">
                            <p>Motorcycle Training Courses</p>
                        </div>
                        <div class="text-center col-md-4">
                            <p>Onsite Free Parking</p>
                        </div>
                    </div>
                    <div class="row mb32">
                        <div class="text-center col-md-4">
                            <p>Offsites and Happy Hours</p>
                        </div>
                        <div class="text-center col-md-4">
                            <p>A Culture of Invention</p>
                        </div>
                        <div class="text-center col-md-4">
                            <p>100% Paid Health Care Coverage</p>
                        </div>
                    </div>
                    <div class="row mb32">
                        <div class="text-center col-md-4">
                            <h4>BART, Caltrain, and MUNI Commuter benefits</h4>
                        </div>
                        <div class="text-center col-md-4">
                            <h4>An Office Dog that Rocks...Named Rocky</h4>
                        </div>
                        <div class="text-center col-md-4">
                            <h4>Access to Company Motorcycles</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a class="btn btn-mega mb0 black" target="_blank" href="http://hire.jobvite.com/CompanyJobs/Careers.aspx?k=JobListing&c=qjK9VfwR">VIEW OPENINGS</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

    {{> footer}}
    </div>


   {{> scripts}}

    <script type="text/javascript">

function detectmob() {
   if(window.innerWidth <= 997) {
     return true;
   } else {
     return false;
   }
}

    if (detectmob()) {
$(".tab-content").removeClass("tab-content");
                                    $(".tabs").removeClass("tabs").addClass("text-left");
                                    $(".tab-title").removeClass("tab-title").addClass("h4").addClass("uppercase");
                                }

            //                     $(window).resize(function() {
            //     $('#vidholder').css('height',$('#hero').height());
            // });
            //                     $('document').ready(function () {
            //     $('#vidholder').css('height',$('#hero').height());
            // });
    </script>

    </body>
</html>
