{{> header title="SKULLY Careers"}}
</head>
<body>
     <div class="nav-container">
     {{> navbar}}
        <!-- ACTUAL PAGE CONTENT -->
        <div class="main-container">
            <section id="vidholder" class="image-bg fullscreen overlay bg-dark mh700">
                <div class="background-image-holder indeximage">
                    <img alt="Background Image" class="indexgif background-image" src="static/img/officeimage.png">
                    <div class="fs-vid-background">
                        <video id="hero" autoplay muted loop>
                        <source src="http://dg6vcgn2vehm4.cloudfront.net/officetime.webm" type="video/webm">
                            <source src="http://dg6vcgn2vehm4.cloudfront.net/officetime.mp4" type="video/mp4">
                            <source src="http://dg6vcgn2vehm4.cloudfront.net/officetime.ogv" type="video/ogv">
                        </video>
                    </div>
                </div>
                <div class="centered">
                        <div class="row">
                            <div class="text-center">
                                <h1 class="uppercase mb8"><span class="index">Careers</span>
                                <h4 class="lead">Join the Revolution</h4>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 text-center">
                            <h3 class="mb64 mb-xs-24">Engineering and design are our guiding principles.</h3>
                            <div class="tabbed-content button-tabs">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab-title">
                                            <span>Hardware</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                We are makers who push the boundaries of transportation technology in the lab and in the field.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Software</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                We are software savants who create code to purposefully amplify the human experience.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Design</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                We are united by our passion for human-centered design that is fearless and authentic.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Business</span>
                                        </div>
                                        <div class="tab-content">
                                            <p>
                                                We are excited to share revolutionary product developments that will change the world.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--end of button tabs-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="p0">
                <div class="containr">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 p0">
                            <div class="image-tile inner-title hover-reveal text-center mb0">
                                <img alt="Pic" src="static/img/P1010696.jpg" />

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 p0">
                            <div class="image-tile inner-title hover-reveal text-center mb0">
                                <img alt="Pic" src="static/img/P1010817.jpg" />

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 p0">
                            <div class="image-tile inner-title hover-reveal text-center mb0">
                                <img alt="Pic" src="static/img/P1010838.jpg" />

                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="uppercase mb64 mb-xs-40 color-primary">IN THE PRESS</h4>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="logo-carousel">
                            <ul class="slides">
                                <li>
                                    <a target="_blank" href="http://www.mensjournal.com/expert-advice/the-53-most-innovative-things-of-the-year-20141001/skully-ar-1-helmet">
                                        <img alt="Logo" src="static/img/carousel1.png" />
                                    </a>
                                </li>
                                <li>
                                <a target="_blank" href="http://www.cnet.com/videos/skully-motorcycle-helmet-gives-you-eyes-in-the-back-of-your-head/">
                                        <img alt="Logo" src="static/img/carousel2.png" />
                                        </a>
                                </li>
                                <li>
                                <a target="_blank" href="http://www.entrepreneur.com/article/236796">
                                        <img alt="Logo" src="static/img/carousel3.png" />
                                        </a>
                                </li>
                                <li>
                                <a target="_blank" href="http://techcrunch.com/2015/02/27/smart-motorcycle-helmet-maker-skully-lands-11-million-in-series-a-to-start-manufacturing-the-ar-1/">
                                        <img alt="Logo" src="static/img/carousel4.png" />
                                        </a>
                                </li>
                                <li>
                                <a target="_blank" href="http://www.popsci.com/article/gadgets/motorcycle-helmet-digital-world">
                                        <img alt="Logo" src="static/img/carousel5.png" />
                                        </a>
                                </li>
                                <li>
                                <a target="_blank" href="http://www.theblaze.com/stories/2014/08/22/the-awesome-motorcycle-helmet-thats-straight-out-of-the-future/">
                                        <img alt="Logo" src="static/img/carousel6.png" />
                                        </a>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.washingtonpost.com/news/innovations/wp/2014/03/11/how-wearable-tech-goes-from-geek-fad-to-mega-trend/">
                                        <img alt="Logo" src="static/img/carousel7.png" />
                                        </a>
                                </li>
                                <li id="venturebeat">
                                <a target="_blank" href="http://venturebeat.com/2015/02/27/skully-closes-11m-series-a-for-its-hi-tech-intelligent-motorcycle-helmet/">
                                        <img alt="Logo" src="static/img/carousel8.png" />
                                        </a>
                                </li>
                            </ul>
                        </div>
                        <!--end of logo slider-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg-primary pt64 pb64">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="mb8">Change How Millions Ride</h2>
                            <p class="lead mb40 mb-xs-24">
                            </p>
                            <a class="btn btn-filled btn-lg mb0" target="_blank" href="http://hire.jobvite.com/CompanyJobs/Careers.aspx?k=JobListing&c=qjK9VfwR">VIEW OPENINGS</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>




    {{> footer}}
    </div>


   {{> scripts}}

    <script type="text/javascript">

function detectmob() {
   if(window.innerWidth <= 997) {
     return true;
   } else {
     return false;
   }
}

    if (detectmob()) {
$(".tab-content").removeClass("tab-content");
                                    $(".tabs").removeClass("tabs").addClass("text-left");
                                    $(".tab-title").removeClass("tab-title").addClass("h4").addClass("uppercase");
                                }

                                $(window).resize(function() {
                $('#vidholder').css('height',$('#hero').height());
            });
                                $('document').ready(function () {
                $('#vidholder').css('height',$('#hero').height());
            });
    </script>

    </body>
</html>
