{{> header title="SKULLY Careers"}}

<div class="nav-container">
  {{> navbar}}

  <!-- ACTUAL PAGE CONTENT -->
  <div class="main-container">
    <section id="vidholder" class="image-bg fullscreen overlay bg-dark mh700">
      <div class="background-image-holder indeximage lazy" data-src="static/img/officeimage.png" data-lazyr-bg>
        <div class="fs-vid-background">
          <video id="hero" autoplay muted loop>
            <source src="http://dg6vcgn2vehm4.cloudfront.net/officetime.webm" type="video/webm">
            <source src="http://dg6vcgn2vehm4.cloudfront.net/officetime.mp4" type="video/mp4">
            <source src="http://dg6vcgn2vehm4.cloudfront.net/officetime.ogv" type="video/ogv">
          </video>
        </div>
      </div>
      <div class="centered">
        <div class="row">
          <div class="text-center">
            <h1 class="uppercase mb8">
              <span>Join the Movement</span>
          </div>
        </div>
        <!--end of row-->
      </div>
    </section>
    <section data-section-name="app" class="fullheight overlay bg-dark image-bg">
      <div class="background-image-holder lazy" data-src="static/img/careers1.jpeg" data-lazyr-bg>
      </div>
      <div class="container" style="height: 100%;">
        <div class="row text-center">
          <div>
            <h2 class="uppercase bold">It Takes a Fearless Team to Create the Future</h2>
          </div>
        </div>
        <!--end of row-->
      </div>
      <div class="centered">
        <div class="row mb64">
          <div class="col-md-3 col-xs-6 text-center">
            <div class="skullyred span3">
            <i class="icon-code icon-sm2"></i>
              <!-- <i class="bi_web-code icon-sm2"></i> -->
            </div>
            <h4>Software</h4>
          </div>
          <div class="col-md-3 col-xs-6 text-center">
            <div class="skullyred span3">
            <i class="icon-wrench icon-sm2"></i>
              <!-- <i class="bi_setting-wrench icon-sm2"></i> -->
            </div>
            <h4>Hardware</h4>
          </div>
          <div class="col-md-3 col-xs-6 text-center">
            <div class="skullyred span3">
            <i class="icon-ruler icon-sm2"></i>
              <!-- <i class="bi_tool-ruler icon-sm2"></i> -->
            </div>
            <h4>Design</h4>
          </div>
          <div class="col-md-3 col-xs-6 text-center">
            <div class="skullyred span3">
            <i class="icon-briefcase icon-sm2"></i>
              <!-- <i class="bi_doc-briefcase-a icon-sm2"></i> -->
            </div>
            <h4>Business</h4>
          </div>
        </div>
        <div class="row mb64">
          <div class="col-md-offset-3 col-md-6 text-center">
            <h4>We push the boundaries of transportation technology to improve the safety of millions and amplify the human experience.</h4>
          </div>
        </div>
      </div>
  </div>
  <!--end of container-->
  </section>
  <section class="p0 ignoreheight">
    <div class="containr">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 p0">
          <div class="image-tile text-center mb0">
            <img alt="Pic" src="static/img/P1010696.jpg" />
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 p0">
          <div class="image-tile text-center mb0">
            <img alt="Pic" src="static/img/careers2.jpeg" />
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 p0">
          <div class="image-tile  text-center mb0">
            <img alt="Pic" src="static/img/P1010817.jpg" />
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section class="bg-third ignoreheight">
    <div class="container">
      <h2 class="text-center uppercase bold mb64 mb-xs-24">What Drives Us</h2>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <p class="text-center">
            Ideas that spur rebellious innovation.
          </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <p class="text-center">
            Transforming the impossible into what is real.
          </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <p class="text-center">
            Relentlessly creating with tenacity and passion.
          </p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <p class="text-center">
            Pushing human capability beyond its limits.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="p0 ignoreheight">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4 p0">
        <div class="image-tile text-center mb0">
          <img alt="Pic" src="static/img/P1010838.jpg" />
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 p0">
        <div class="image-tile text-center mb0">
          <img alt="Pic" src="static/img/careers4.jpg" />
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 p0">
        <div class="image-tile text-center mb0">
          <img alt="Pic" src="static/img/careers3.jpeg" />
        </div>
      </div>
    </div>
    <!--end of row-->
  </section>
  <section class="bg-primary pt64 pb64">
    <div class="container">
      <div class="row mb64">
        <div class="col-md-12 text-center">
          <h2 class="uppercase bold">Apply Today and Change How Humans Move</h2>
        </div>
      </div>
      <div class="row mb32">
        <div class="text-center col-md-4">
          <p>Open PTO that Starts Immediately</p>
        </div>
        <div class="text-center col-md-4">
          <p>Motorcycle Training Courses</p>
        </div>
        <div class="text-center col-md-4">
          <p>Onsite Free Parking</p>
        </div>
      </div>
      <div class="row mb32">
        <div class="text-center col-md-4">
          <p>Offsites and Happy Hours</p>
        </div>
        <div class="text-center col-md-4">
          <p>A Culture of Invention</p>
        </div>
        <div class="text-center col-md-4">
          <p>100% Paid Health Care Coverage</p>
        </div>
      </div>
      <div class="row mb32">
        <div class="text-center col-md-4">
          <p>BART, Caltrain, and MUNI Commuter benefits</p>
        </div>
        <div class="text-center col-md-4">
          <p>An Office Dog that Rocks...Named Rocky</p>
        </div>
        <div class="text-center col-md-4">
          <p>Access to Company Motorcycles</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
          <a class="btn btn-middle mb0 black" target="_blank" href="http://hire.jobvite.com/CompanyJobs/Careers.aspx?k=JobListing&c=qjK9VfwR">
            <h5>VIEW OPENINGS</h5>
          </a>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>

  {{> footer}}
</div>


{{> scripts}}

</body>
</html>
