{{> header title="SKULLY How To" bodyClass="support-page"}}
{{> chat-widget}}
<div class="nav-container">
  {{> navbar}}

  {{> support-header}}

  <section class="bg-white support-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
          <ul>
            <li><a href="/support">FAQ's <i class="icon-angle-right"></i></a></li>
            <li class="active"><a href="/how-to">How To <i class="icon-angle-right"></i></a></li>
            <li><a href="/manuals">Manuals <i class="icon-angle-right"></i></a></li>
          </ul>
          {{!-- <p class="standout"><strong>Hours of operation:</strong><br class="display-all">Monday to Friday<br class="display-all">8am to 6pm CST</p> --}}
        </div>
        <div class="col-sm-8 col-md-9">



      <div class="row mb16">

        <div class="col-md-3 col-md-push-9">
          <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <span class="wistia_embed wistia_async_35ox18daca popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-md-pull-3">
          <h3 class="mb0">Opening and Closing the Visor</h3>
          <p>The visor has three distinct positions: closed, partially open, and fully open. Each is identifiable by an audible click and slight pause in downward or upward movement. </p>
        </div>

      </div>


      <div class="row mb16">
        <div class="col-md-3 col-md-push-9">
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <span class="wistia_embed wistia_async_704h93gtb2 popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-md-pull-3">
          <h3 class="mb0">Measuring Your Head</h3>
          <p>With a measuring tape, begin about 1 inch (2.5 cm) above your eyebrows and wrap the tape all the way around. Compare your measurement to our
            <a class="skullyred" href="https://skully.zendesk.com/hc/en-us/articles/207983437-Does-the-AR-1-come-in-my-size-" target="_blank">Sizing Guide</a> to get your correct helmet size.
            <p>
        </div>
      </div>


      <div class="row mb16">
        <div class="col-md-3 col-md-push-9">
          </script>
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <span class="wistia_embed wistia_async_94jzro9msz popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-md-pull-3">
          <h3 class="mb0">Activating Voice Commands</h3>
          <p>When you say, “OK, SKULLY,” voice commands for GPS, music streaming, and calling are activated. </p>
        </div>
      </div>


      <div class="row mb16">
        <div class="col-md-3 col-md-push-9">
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <span class="wistia_embed wistia_async_4jbvhdccqu popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-md-pull-3 mb16">
          <h3 class="mb0">Turning the Helmet On and Off</h3>
          <p>Press the control button once to turn on the helmet. To turn it off, press and hold down the control button for at least six seconds.</p>
        </div>
      </div>

      <div class="row mb16">
        <div class="col-md-3 col-md-push-9">
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <span class="wistia_embed wistia_async_m8b4ctjl0w popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-md-pull-3">
          <h3 class="mb0">Fastening and Releasing the Chinstrap</h3>
          <p>Secure and tighten the chinstrap using the ratchet mechanism. To release the chinstrap, pull the red tab on the quick-release buckle. </p>
        </div>
      </div>

      <div class="row mb16">
        <div class="col-md-3 col-md-push-9">
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <span class="wistia_embed wistia_async_1c2ktcu4ko popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-md-pull-3">
          <h3 class="mb0">Adjusting the Heads-Up Display</h3>
          <p>The position of the Heads-Up Display can be adjusted vertically or laterally to achieve an optimal viewing position. You can also twist the HUD to angle its position.</p>
        </div>
      </div>



        </div>
      </div>
    </div>
  </section>

  {{> footer-minimal}}
</div>
{{> scripts}}
</body>
</html>
