{{> header title="SKULLY" cssfile='<link href="static/css/slippry.css" rel="stylesheet" type="text/css" media="all" />'}}
<body>
    <div class="nav-container">
    {{> navbar}}

        <!-- ACTUAL PAGE CONTENT -->
        <div class="main-container">
            <section class="image-bg fullscreen overlay bg-dark mh700-2 pt0">
                <div class="background-image-holder indeximage">
                    <img src="/static/img/index3.jpg" alt="index3">
                    <img src="/static/img/index2.jpg"  alt="index2">
                    <img src="/static/img/index1.jpg" alt="index1">
                    <img src="/static/img/index4.jpg" alt="index4">
                </div>
                <div class="centered">
                        <div class="row">
                            <div class="text-center">
                                <h1 class="uppercase"><span class="index">SUPERHUMAN</span><br/></h1><span class="indexdesign">BY DESIGN</span>
                            </div>
                            <div class="text-center">
                                <a href="ar1" id="ar1index" class="mt24 btn">AR-1</a>
                                <br>
                                <a href="//fast.wistia.net/embed/iframe/1nwzz5fh0t?popover=true" id="wistiavid" class="wistia-popover[height=720,playerColor=414141,width=1280]">Watch Video <i class="bold skullyred ti-arrow-circle-right icon-xs"></i></a>
                    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                <!-- <div class="botleft">
                    <a href="//fast.wistia.net/embed/iframe/1nwzz5fh0t?popover=true" id="wistiavid" class="wistia-popover[height=720,playerColor=414141,width=1280]"><img src="https://embed-ssl.wistia.com/deliveries/d8c87a7982ca461396b93a1ea5626869fa315d80.jpg?image_play_button=true&image_play_button_color=414141e0&image_crop_resized=190x107" alt="" /></a>
                    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
                    <span class="watchnow">
                    <img src="static/img/vid_title.png" alt="text">
                    </span>
                </div> -->
                <!-- <div class="botright">
                    <a href="//fast.wistia.net/embed/iframe/1nwzz5fh0t?popover=true" id="wistiavid" class="wistia-popover[height=720,playerColor=414141,width=1280]">Watch Video <i class="bold skullyred ti-arrow-circle-right icon-xs"></i></a>
                    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
                </div> -->
                <div class="botrow">
                {{> subnav}}
                </div>
            </section>
            <!-- <section class="indexbar">
                <div class="indexvidbar">
                    <div class="row halved" style="left: 6%">
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <a style="cursor:pointer;" id="show1"><img alt="pic" class="image-xxs" src="static/img/press1.png"></a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <a style="cursor:pointer;" id="show2"><img alt="pic" class="image-xxs" src="static/img/press5.png"></a>
                        </div>
                        <div class="col-sm-2 col-md-3 col-xs-2">
                            <a style="cursor:pointer;" id="show3"><img alt="pic" class="image-xxs" src="static/img/press3.png"></a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <a style="cursor:pointer;" id="show4"><img alt="pic" class="image-xxs" src="static/img/press4.png"></a>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- TEMPLATES -->
            {{> scripts}}
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            <script type="text/javascript">

            $("html").css("overflow", "hidden");
            </script>
</body>

</html>
