{{> header title="SKULLY AR-1 Augmented Reality Helmet" description="The SKULLY AR-1 is the first HUD helmet to feature a built-in 180-degree, Blindspot Camera and Heads-Up Display for unparalleled situational awareness and safety."}}
<div class="nav-container">
    {{> navbar}}
    <!-- ACTUAL PAGE CONTENT -->
    <div class="main-container index-page">
        <section class="video-background bg-black">
            <div class="video-container">
                <div class="title-container">
                    <div class="headline">
                        <h1 id="superhuman" class="uppercase">SUPERHUMAN</h1>
                    </div>
                    <div class="description">
                        <h2 id="bydesign">BY DESIGN</h2>
                    </div>
                </div>
                <div id="indexhero">
                    <!-- JS APPEND VIDEO -->
                </div>
                <div class="bg-image mobile-image" id="index1img">
                    <div>
                    </div>
                </div>
                <div id="desktop-experiencebutton">
                    <span class="wistia_embed wistia_async_1nwzz5fh0t popover=true popoverContent=link" style="display:inline; margin-right:30px;"><a class="btn btn-middle" id="wistiavid" href="#"><h5>Experience <i class="icon-play2"></i><span class="ar1font">SKULLY AR-<span class="skullyred">1</span></span>
                    </h5>
                    </a>
                    </span>
                </div>
                <div class="indexvidbar">
                    <div class="row halved" style="left: 6%">
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <a data-target="#modal1" data-toggle="modal" style="cursor:pointer;">
                                <img alt="CNN" id="press-cnn" class="minipress image-xxs" class="lazy" data-src="static/img/cnn-black.png">
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <a data-target="#modal2" data-toggle="modal" style="cursor:pointer;">
                                <img alt="Maxim" id="press-maxim" class="minipress image-xxs" class="lazy" data-src="static/img/maxim-black.png">
                            </a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <a data-target="#modal3" data-toggle="modal" style="cursor:pointer;">
                                <img alt="Reuters" id="press-reuters" class="minipress image-xxs" class="lazy" data-src="static/img/reuters-black.png">
                            </a>
                        </div>
{{!--                         <div class="col-sm-3 col-md-3 col-xs-3">
                            <a data-target="#modal4" data-toggle="modal" style="cursor:pointer;">
                                <img alt="Wired" id="press-wired" class="minipress image-xxs" class="lazy" data-src="static/img/wired-black.png">
                            </a>
                        </div> --}}
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <a data-target="#modal5" data-toggle="modal" style="cursor:pointer;">
                                <img alt="IndustryWeek" id="press-industryweek" class="minipress image-xxs" class="lazy" data-src="static/img/industryweek-black.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************************MODALS*************************** -->
            <div id="modal1" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">The CNN Top 10 Inventions</h4>
                        </div>
                        <div class="modal-body">
                            <p>“Augmented reality is getting a lot of talk in the gaming world, with products like Sony's and the Oculus Rift promising to make play time more fun. But what if it could make the roads safer? That's what the makers of Skully promise with what they're..."</p>
                            <div class="text-center">
                                <a class="btn btn-mega black" target="_blank" href="http://www.cnn.com/interactive/2014/06/tech/cnn10-inventions/">READ MORE</a>
                            </div>
                            <div id="social-platforms">
                                <a class="button button-icon button-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.cnn.com/interactive/2014/06/tech/cnn10-inventions/">
                                    <i class="ti-facebook2"></i>
                                    <span class="sharebut">Facebook</span>
                                </a>
                                <a class="button button-icon button-twitter" target="_blank" href="https://twitter.com/share?url=http://www.cnn.com/interactive/2014/06/tech/cnn10-inventions/">
                                    <i class="ti-twitter-alt2"></i>
                                    <span class="sharebut">Twitter</span>
                                </a>
                                <a class="button button-icon button-googleplus" target="_blank" href="https://plus.google.com/share?url=http://www.cnn.com/interactive/2014/06/tech/cnn10-inventions/">
                                    <i class="ti-google2"></i>
                                    <span class="sharebut">Google+</span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-mega black mb0" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal2" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">The World's First Augmented Reality Motorcycle Helmet Is Shipping</h4>
                        </div>
                        <div class="modal-body">
                            <p>“Almost 15 months after raising millions on Indiegogo to become the crowdfunding site's most successful technology campaign to date, the Skully AR-1 augmented reality motorcycle helmet is...well, a reality. Although we didn't take it for an actual ride, we were able to experience some of its finer features in a live demo..."</p>
                            <div class="text-center">
                                <a class="btn btn-mega black" target="_blank" href="http://www.maxim.com/gear/from-ces-augmented-reality-motorcycle-helmet-2016-01">READ MORE</a>
                            </div>
                            <div id="social-platforms">
                                <a class="button button-icon button-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.maxim.com/gear/from-ces-augmented-reality-motorcycle-helmet-2016-01">
                                    <i class="ti-facebook2"></i>
                                    <span class="sharebut">Facebook</span>
                                </a>
                                <a class="button button-icon button-twitter" target="_blank" href="https://twitter.com/share?url=http://www.maxim.com/gear/from-ces-augmented-reality-motorcycle-helmet-2016-01">
                                    <i class="ti-twitter-alt2"></i>
                                    <span class="sharebut">Twitter</span>
                                </a>
                                <a class="button button-icon button-googleplus" target="_blank" href="https://plus.google.com/share?url=http://www.maxim.com/gear/from-ces-augmented-reality-motorcycle-helmet-2016-01">
                                    <i class="ti-google2"></i>
                                    <span class="sharebut">Google+</span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-mega black mb0" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal3" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">The Skully Smart Motorcycle Helmet Sharpens Your Senses On The Road</h4>
                        </div>
                        <div class="modal-body">
                            <p>“For Marcus Weller the idea started off with an accident. He was riding a motorcycle in Barcelona when he took his eyes off the road to look at a road sign and smashed into the back of a car. A couple of years later..."</p>
                            <div class="text-center">
                                <a class="btn btn-mega black" target="_blank" href="http://www.reuters.com/article/us-smart-helmet-idUSKCN0T11ZZ20151112#sZfI4qzbzbhByzVB.97">READ MORE</a>
                            </div>
                            <div id="social-platforms">
                                <a class="button button-icon button-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.reuters.com/article/us-smart-helmet-idUSKCN0T11ZZ20151112#sZfI4qzbzbhByzVB.97">
                                    <i class="ti-facebook2"></i>
                                    <span class="sharebut">Facebook</span>
                                </a>
                                <a class="button button-icon button-twitter" target="_blank" href="https://twitter.com/share?url=http://www.reuters.com/article/us-smart-helmet-idUSKCN0T11ZZ20151112#sZfI4qzbzbhByzVB.97">
                                    <i class="ti-twitter-alt2"></i>
                                    <span class="sharebut">Twitter</span>
                                </a>
                                <a class="button button-icon button-googleplus" target="_blank" href="https://plus.google.com/share?url=http://www.reuters.com/article/us-smart-helmet-idUSKCN0T11ZZ20151112#sZfI4qzbzbhByzVB.97">
                                    <i class="ti-google2"></i>
                                    <span class="sharebut">Google+</span>
                                </a>
                            </div>
                        </div>
                        <div class="text-center modal-footer">
                            <button type="button" class="btn btn-mega black mb0" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
{{!--             <div id="modal4" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">CES 2016, All We've Seen in Vegas</h4>
                        </div>
                        <div class="modal-body">
                            <p>“Questo casco include vivavoce integrato e un minuscolo display che mostra le indicazioni del navigatore e persino cosa succede sul retro, grazie a una videocamera a 180° montata sulla parte posteriore..."
                            </p>
                            <div class="text-center">
                                <a class="btn btn-mega black" target="_blank" href="http://www.wired.it/gadget/2016/01/11/ces-2016-tutto-abbiamo-visto-las-vegas/">READ MORE</a>
                            </div>
                            <div id="social-platforms">
                                <a class="button button-icon button-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.wired.it/gadget/2016/01/11/ces-2016-tutto-abbiamo-visto-las-vegas/">
                                    <i class="ti-facebook2"></i>
                                    <span class="sharebut">Facebook</span>
                                </a>
                                <a class="button button-icon button-twitter" target="_blank" href="https://twitter.com/share?url=http://www.wired.it/gadget/2016/01/11/ces-2016-tutto-abbiamo-visto-las-vegas/">
                                    <i class="ti-twitter-alt2"></i>
                                    <span class="sharebut">Twitter</span>
                                </a>
                                <a class="button button-icon button-googleplus" target="_blank" href="https://plus.google.com/share?url=http://www.wired.it/gadget/2016/01/11/ces-2016-tutto-abbiamo-visto-las-vegas/">
                                    <i class="ti-google2"></i>
                                    <span class="sharebut">Google+</span>
                                </a>
                            </div>
                        </div>
                        <div class="text-center modal-footer">
                            <button type="button" class="btn btn-mega black mb0" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div> --}}
            <div id="modal5" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">CES: Awash in an Altered Reality</h4>
                        </div>
                        <div class="modal-body">
                            <p>“San Francisco-firm Skully was at CES with its first augmented reality motorcycle helmet. A tiny projector displayed driving directions, or showed what was going on behind a rider by tapping into a camera built into..."
                            </p>
                            <div class="text-center">
                                <a class="btn btn-mega black" target="_blank" href="http://www.industryweek.com/emerging-technologies/ces-awash-altered-reality">READ MORE</a>
                            </div>
                            <div id="social-platforms">
                                <a class="button button-icon button-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.industryweek.com/emerging-technologies/ces-awash-altered-reality">
                                    <i class="ti-facebook2"></i>
                                    <span class="sharebut">Facebook</span>
                                </a>
                                <a class="button button-icon button-twitter" target="_blank" href="https://twitter.com/share?url=http://www.industryweek.com/emerging-technologies/ces-awash-altered-reality">
                                    <i class="ti-twitter-alt2"></i>
                                    <span class="sharebut">Twitter</span>
                                </a>
                                <a class="button button-icon button-googleplus" target="_blank" href="https://plus.google.com/share?url=http://www.industryweek.com/emerging-technologies/ces-awash-altered-reality">
                                    <i class="ti-google2"></i>
                                    <span class="sharebut">Google+</span>
                                </a>
                            </div>
                        </div>
                        <div class="text-center modal-footer">
                            <button type="button" class="btn btn-mega black mb0" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="beauty" class="bg-black fullheight">
            <div class="bg-image" id="index3img">
                <div></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 mb-xs-24 col-md-6 pt72">
                        <h2 class="xbold uppercase mb16 mb-xs-32">The First Augmented Reality Helmet</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p>
                            The
                            <span class="ar1font"> SKULLY AR-
                <span class="skullyred">1</span>
                            </span> is the first helmet to feature a built-in 180&deg; Blindspot Camera and Heads-Up Display for unparalleled situational awareness and safety. </p>
                        <p>Focus on what matters most: the road ahead.
                        </p>
                        <p class="bold">
                            Total awareness is total freedom.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="hud" class="pt120 fullheight bg-black">
            <!-- JS APPEND HERE -->
        </section>
        <section id="rearview" class="bg-white pt48 pb-xs-32">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <h2 class="uppercase xbold">180&deg;
              <br class="respbr">Blindspot Camera</h2>
                        <h5 class="uppercase xbold">Situational Awareness</h5>
                        <p>An ultra-wide, glanceable view of the road behind you enhances your overall safety.</p>
                        <hr>
                        <h5 class="uppercase xbold">Sport and Touring Modes</h5>
                        <p>Adjust the viewing angle presented in the Heads-Up Display with the
                            <span class="ar1font">SKULLY</span> app.</p>
                        <hr>
                        <h5 class="uppercase xbold">Two-Up Riding</h5>
                        <p>Your passenger is a small fraction of the ultra-wide 180&deg; Blindspot Camera view.</p>
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="product-features sep-top">
                            <input id="fov-toggle" class="hidden" type="checkbox">
                            <input id="mobile-skully-fov" name="fov" class="hidden" type="radio" checked>
                            <input id="mobile-conventional-fov" name="fov" class="hidden" type="radio">
                            <div class="mobile-fov-buttons">
                                <label id="ar1button-180" for="mobile-skully-fov" class="mobile-fov-button mobile-skully-fov-button ar1font">SKULLY AR-
                                    <span class="skullyred">1</span>
                                </label>
                                <label id="conventionalbutton-180" for="mobile-conventional-fov" class="mobile-fov-button mobile-conventional-fov-button">Conventional</label>
                            </div>
                            <div class="fov-wrapper">
                                <div id="rearview-img" class="fov-infographics">
                                    <!-- JS APPEND HERE -->
                                </div>
                                <!-- <div class="fov-info circle-info">
                                        <img class="circle" src="static/img/180_circle-07.png">
                                        <div class="circle-description">
                                            <h4 class="black">180&deg; Blind Spot Camera</h4>
                                            <p class="black">Conventional mirrors show you a thin slice of reality, a blind spot camera shows <b>everything</b> happening around you.</p>
                                        </div>
                                    </div> -->
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
        </section>
        <section id="pov" class="bg-black">
            <div class="video-container">
                <div class="container pt64">
                    <h2 class="mb48 mb-xs-32 bold uppercase">Complete Situational Awareness</h2>
                    <div class="row">
                        <div class="col-sm-4 mb-xs-24">
                            <h5 class="uppercase xbold mb8 mb-xs-8">Semi-Transparent Display</h5>
                            <div class="mb40 mb-xs-24">
                                <p>
                                    Stay focused during your ride with a clear view of everything happening around you.
                                </p>
                            </div>
                            <hr>
                            <h5 class="uppercase xbold mb8 mb-xs-8">180&deg; Blindspot Camera</h5>
                            <div class="mb40 mb-xs-24">
                                <p>
                                    Make safer decisions with 180&deg; Blindspot Camera footage that streams live to the Heads-Up Display.
                                </p>
                            </div>
                            <hr>
                            <h5 class="uppercase xbold mb8 mb-xs-8">Infinite Focus&trade;</h5>
                            <div class="mb40 mb-xs-24">
                                <p>
                                    Look ahead, glance at the Heads-Up Display, then look ahead again without refocusing your eyes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pov-vid">
                    <!-- JS APPEND VIDEO -->
                </div>
                <div class="bg-image mobile-image" id="index6img">
                    <div></div>
                </div>
            </div>
        </section>
        <section id="explosive" class="bg-white pb0 pt0">
            <!-- APPEND STUFF HERE -->
        </section>
        {{> footer}}
        </div>
        {{!-- <audio preload="none" id="scatman">
            <source src="static/audio/scatman.mp3" type="audio/mpeg">
            <source src="static/audio/scatman.ogg" type="audio/ogg">
        </audio>
        <audio preload="none" id="hoversound">
            <source src="static/audio/motorcycle.mp3" type="audio/mpeg">
            <source src="static/audio/motorcycle.ogg" type="audio/ogg">
        </audio> --}}
    </div>
    <!-- TEMPLATES -->
    {{> scripts}}
    <script src="/static/js/index.js"></script>
