{{> header title="SKULLY AR-1"}}
<body>
    <div class="nav-container">
    {{> navbar}}
        <!-- ACTUAL PAGE CONTENT -->
        <div class="main-container">
            <section id="vidholder" class="overlay image-bg fullscreen mh700 bg-dark">
                <div class="background-image-holder indeximage">
                    <!-- <img alt="Background Image" class="indexgif background-image" src="static/img/550.gif"> -->
                    <img alt="Background Image" class="background-image" src="static/img/img-2.jpg">
                    <div class="fs-vid-background">
                        <video id="hero" autoplay loop muted preload="auto">
                            <source src="http://dg6vcgn2vehm4.cloudfront.net/indexhero.webm" type="video/webm">
                            <source src="http://dg6vcgn2vehm4.cloudfront.net/indexhero.mp4" type="video/mp4">
                            <source src="http://dg6vcgn2vehm4.cloudfront.net/indexhero.ogv" type="video/ogv">
                        </video>
                    </div>
                </div>
                <div class="centered">
                        <div class="row">
                            <div class="text-center">
                                <h1 style="font-size: 95px;" class="bold uppercase">SUPERHUMAN<br/></h1><h2 style="letter-spacing: 12px">BY DESIGN</span>
                            </div>
                            <div class="text-center">
                                <!-- <a href="ar1" id="ar1index" class="mt24 btn ar1font bold">AR-1</a> -->
                                <br>

<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_1nwzz5fh0t popover=true popoverContent=link" style="display:inline"><a class="btn btn-middle" id="wistiavid" href="#">> <span class="ar1font">AR-<span class="skullyred">1</span></span> in action</a></span>
                                <br class="respbr">

                    <a id="store" class="btn btn-middle" href="/store2">Buy Now</a>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                <!-- <div class="botleft">
                    <a href="//fast.wistia.net/embed/iframe/1nwzz5fh0t?popover=true" id="wistiavid" class="wistia-popover[height=720,playerColor=414141,width=1280]"><img src="https://embed-ssl.wistia.com/deliveries/d8c87a7982ca461396b93a1ea5626869fa315d80.jpg?image_play_button=true&image_play_button_color=414141e0&image_crop_resized=190x107" alt="" /></a>
                    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
                    <span class="watchnow">
                    <img src="static/img/vid_title.png" alt="text">
                    </span>
                </div> -->
                <div class="indexvidbar">
                    <div class="row halved" style="left: 6%">
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <a data-target="#modal1" data-toggle="modal" style="cursor:pointer;"><img alt="pic" class="image-xxs" src="static/img/press1.png"></a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <a data-target="#modal2" data-toggle="modal" style="cursor:pointer;" ><img alt="pic" class="image-xxs" src="static/img/press5.png"></a>
                        </div>
                        <div class="col-sm-2 col-md-3 col-xs-2">
                            <a data-target="#modal3" data-toggle="modal" style="cursor:pointer;"><img alt="pic" class="image-xxs" src="static/img/press3.png"></a>
                        </div>
                        <div class="col-sm-3 col-md-3 col-xs-3">
                            <a data-target="#modal4" data-toggle="modal" style="cursor:pointer;"><img alt="pic" class="image-xxs" src="static/img/press4.png"></a>
                        </div>
                    </div>
                </div>
                <!-- ****************************MODALS*************************** -->
                <div id="modal1" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">The CNN Top 10 Inventions</h4>
                            </div>
                            <div class="modal-body">
                                <p>“Augmented reality is getting a lot of talk in the gaming world, with products like Sony's and the Oculus Rift promising to make play time more fun. But what if it could make the roads safer? That\'s what the makers of Skully promise with what they're..."</p>
                                <div class="text-center">
                                    <a class="btn btn-mega black" target="_blank" href="http://www.cnn.com/interactive/2014/06/tech/cnn10-inventions/">READ MORE</a>
                                </div>
                                <div id="social-platforms">
                                    <a class="button button-icon button-facebook" target="_blank"href="http://www.facebook.com/sharer.php?u=http://www.cnn.com/interactive/2014/06/tech/cnn10-inventions/"><i class="ti-facebook2"></i><span class="sharebut">Facebook</span></a>
                                    <a class="button button-icon button-twitter" target="_blank" href="https://twitter.com/share?url=http://www.cnn.com/interactive/2014/06/tech/cnn10-inventions/"><i class="ti-twitter-alt2"></i><span class="sharebut">Twitter</span></a>
                                    <a class="button button-icon button-googleplus" target="_blank" href="https://plus.google.com/share?url=http://www.cnn.com/interactive/2014/06/tech/cnn10-inventions/"><i class="ti-google2"></i><span class="sharebut">Google+</span></a>
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-mega black mb0" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modal2" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">A Motorcycle Helmet for the Digital World</h4>
                            </div>
                            <div class="modal-body">
                                <p>“At a time when screens are being integrated into everything, Skully engineers saw an opportunity to upgrade something that’s remained largely unchanged for decades: the motorcycle helmet. The P-1 is the first helmet with a digital head-up display..."</p>
                                <div class="text-center">
                                    <a class="btn btn-mega black" target="_blank" href="http://www.popsci.com/article/gadgets/motorcycle-helmet-digital-world">READ MORE</a>
                                </div>
                                <div id="social-platforms">
                                    <a class="button button-icon button-facebook" target="_blank"href="http://www.popsci.com/article/gadgets/motorcycle-helmet-digital-world"><i class="ti-facebook2"></i><span class="sharebut">Facebook</span></a>
                                    <a class="button button-icon button-twitter" target="_blank" href="http://www.popsci.com/article/gadgets/motorcycle-helmet-digital-world"><i class="ti-twitter-alt2"></i><span class="sharebut">Twitter</span></a>
                                    <a class="button button-icon button-googleplus" target="_blank" href="http://www.popsci.com/article/gadgets/motorcycle-helmet-digital-world"><i class="ti-google2"></i><span class="sharebut">Google+</span></a>
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-mega black mb0" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modal3" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">The Skully Smart Motorcycle Helmet Sharpens Your Senses On The Road</h4>
                            </div>
                            <div class="modal-body">
                                <p>“The stats around motorcycle safety in the United States are pretty bleak, but the folks at Skully are looking to give an added layer of safety to the bike-riding thrill-seekers of the world. The Skully <span class="ar1font">AR-<span class="skullyred">1</span></span> helmet started..."</p>
                                <div class="text-center">
                                    <a class="btn btn-mega black" target="_blank" href="http://techcrunch.com/2014/08/11/skully/">READ MORE</a>
                                </div>
                                <div id="social-platforms">
                                    <a class="button button-icon button-facebook" target="_blank"href="http://techcrunch.com/2014/08/11/skully/"><i class="ti-facebook2"></i><span class="sharebut">Facebook</span></a>
                                    <a class="button button-icon button-twitter" target="_blank" href="http://techcrunch.com/2014/08/11/skully/"><i class="ti-twitter-alt2"></i><span class="sharebut">Twitter</span></a>
                                    <a class="button button-icon button-googleplus" target="_blank" href="http://techcrunch.com/2014/08/11/skully/"><i class="ti-google2"></i><span class="sharebut">Google+</span></a>
                                </div>
                            </div>
                            <div class="text-center modal-footer">
                            <button type="button" class="btn btn-mega black mb0" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modal4" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">This Slick Augmented-reality Helmet Has A Rearview Camera, Weather Reports</h4>
                            </div>
                            <div class="modal-body">
                                <p>“Motorcycle helmets with head-up displays and augmented reality were science fiction just a few years ago. But now major helmet manufacturers and startups are working to incorporate Google Glass-like..."</p>
                                <div class="text-center">
                                    <a class="btn btn-mega black" target="_blank" href="http://www.wired.com/2013/10/skully-helmet/">READ MORE</a>
                                </div>
                                <div id="social-platforms">
                                    <a class="button button-icon button-facebook" target="_blank"href="http://www.wired.com/2013/10/skully-helmet/"><i class="ti-facebook2"></i><span class="sharebut">Facebook</span></a>
                                    <a class="button button-icon button-twitter" target="_blank" href="http://www.wired.com/2013/10/skully-helmet/"><i class="ti-twitter-alt2"></i><span class="sharebut">Twitter</span></a>
                                    <a class="button button-icon button-googleplus" target="_blank" href="http://www.wired.com/2013/10/skully-helmet/"><i class="ti-google2"></i><span class="sharebut">Google+</span></a>
                                </div>
                            </div>
                            <div class="text-center modal-footer">
                            <button type="button" class="btn btn-mega black mb0" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            </section>
            <section class="fullheight image-bg fullscreen bg-dark" style="min-height: 900px">
                <div class="background-image-holder xxbackground">
                    <img src="/static/img/skully_background.jpg">
                </div>
                <div class="container">
                <div class="row">
                        <div class="col-sm-4 mb-xs-24 col-md-8 pt72">
                            <h2 class="mb16">Augmented Reality</h2>
                            <div>
                                <h3>
                                    Total awareness is total freedom.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>












            <section id="explosive2" class="fullheight bg-white pb0 pt0">
                <canvas id="explosive-vid2"></canvas>
            </section>


























            <section id="hud" class="pt120 fullheight bg-black">                        
                     <video id="hudvid" muted style="height:100%; position:absolute; right: 0; top: 0;">
                            <source src="http://dg6vcgn2vehm4.cloudfront.net/HUD.webm" type="video/webm">
                            <source src="http://dg6vcgn2vehm4.cloudfront.net/HUD.mp4" type="video/mp4">
                            <source src="http://dg6vcgn2vehm4.cloudfront.net/HUD.ogv" type="video/ogv">
                        </video>
                        <div class="container" id="hudtext">
                            <div class="mb56 row">
                                <div class="col-md-12">
                                    <h2 class="bold">Experience 360&deg; Awareness,<br>Every Second.</h2>
                                    <h4 class="subhead">This way of riding is the future</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="uppercase xbold">Hyperfocus on the Road</h5>
                                    <p class="subhead">A Heads-Up Display that's always in focus minimizes distractions.</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="uppercase xbold">Blast Blindspots</h5>
                                    <p class="subhead">An ultra-wide rear camera sees more than conventional mirrors.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="container" id="hudtext2">
                            <div class="row mb56">
                                <div class="col-md-12">
                                    <h2 class="bold">Glance Once for Vital,<br>Real-Time Information</h2>
                                    <h4 class="subhead">The past and present float right in front of you.</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="uppercase xbold">Check Tech</h5>
                                    <p class="subhead">Telemetry, GPS, and the rear camera feed are all within your field of view.</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="uppercase xbold">Ride Superhuman</h5>
                                    <p class="subhead">Heads-Up Display data helps you anticipate danger and ride safer.</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                            
<!--                         <div class="text-center">
                            <a class="btn btn-lg btn-filled mt32 mb0" href="store">I want one</a>
                        </div> -->
            </section>
            <section id="pov" class="fullheight bg-primary">
                <div class="container">
                    <h2 class="mb0 mb-xs-0 bold text-center">Heads-Up Display</h2>
                    <h4 class="subhead mb48 mb-xs-32 text-center">for <strong>Total Awareness</strong></h4>
                    <div class="row">
                        <div class="col-sm-3 mb-xs-24">
                            <h4 class="mb8 mb-xs-8">Super-Wide Field of View</h4>
                            <div class="mb40 mb-xs-24">
                                <p class="fade-1-4">
                                    All of the road is in your sights with increased peripheral vision.
                                </p>
                            </div>
                            <h4 class="mb8 mb-xs-8">180&deg; Blindspot Camera</h4>
                            <div class="mb40 mb-xs-24">
                                <p class="fade-1-4">
                                    Check the road behind you with a rear camera feed that streams live.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 col-sm-6 hud-animation">
                        <div class="hud-background">
                            <img id="hud-bg" class="hud" src="static/img/HUD01_BG.png"></img>
                            <img id="hud-nose" class="hud" src="static/img/HUD01_nose.png"></img>
                        </div>
                        <div class="hud-rearsection">
                            <img id="hud-rear" class="hud" src="static/img/HUD01_rearview.png"></img>
                            <img id="hud-mph" class="hud" src="static/img/HUD01_mph.png"></img>
                        </div>
                            
                    </div>
                    <div class="col-sm-3 mb-xs-24">
                            <h4 class="mb8 mb-xs-8">GPS Navigation</h4>
                            <div class="mb40 mb-xs-24">
                                <p class="fade-1-4">
                                    Turn-by-turn directions make checking your phone a thing of the past.
                                </p>
                            </div>
                            <h4 class="mb8 mb-xs-8">Infinite Focus</h4>
                            <div class="mb40 mb-xs-24">
                                <p class="fade-1-4">
                                    Advanced optics adjust to your eye, so what you see is always in focus.
                                </p>
                            </div>
                        </div>
                        </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-lg btn-filled mt32 mb0" href="store">I want one</a>
                        </div>
                        </section>
            </section>
            <section class="fullheight image-bg overlay">
                <div class="background-image-holder">
                    <!-- <img alt="image" class="background-image" src="static/img/cinemagraph-website.gif"> -->
                    <img alt="image" class="background-image" src="static/img/signup.jpeg">
                </div>
                <div class="v-align-transform container">
                        <div class="row mb40 mb-xs-24">
                            <div class="col-sm-12 text-center">
                                <h2 class="mb16">Be the First to Know</h2>
                                <p>Get exclusive updates, learn about demo opportunities, and RSVP for special events. </p>
                            </div>
                        </div>
                        <div class="row mb80 mb-xs-24">
                            <div class="col-xs-12">
                                <form class="form-newsletter" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please enter your email.">
                                    <div class="row">
                                    <!-- <div class="col-md-1"></div> -->
                                        <div class="col-md-5 col-md-offset-1">
                                            <input type="text" name="email" id="hovertext" class="mb0 transparent validate-email validate-required signup-email-field" placeholder="yourname@example.com" onfocus="this.placeholder = ''" onblur="this.placeholder='yourname@example.com'">
                                        </div>
                                        <div class="col-md-5">
                                            <input type="submit" id="signup" class="btn btn-mega mb0" value="SIGN UP">
                                        </div>
                                    </div>
                                        <iframe srcdoc="<!-- Begin MailChimp Signup Form --><link href=&quot;https://cdn-images.mailchimp.com/embedcode/classic-081711.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;><style type=&quot;text/css&quot;> #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }   /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */</style><div id=&quot;mc_embed_signup&quot;><form action=&quot;//skullysystems.us3.list-manage.com/subscribe/post?u=bc1d6c276527db0df1053fc13&amp;id=ff82cb5526&quot; method=&quot;post&quot; id=&quot;mc-embedded-subscribe-form&quot; name=&quot;mc-embedded-subscribe-form&quot; class=&quot;validate&quot; target=&quot;_blank&quot; novalidate>    <div id=&quot;mc_embed_signup_scroll&quot;>   <h2>Subscribe to our mailing list</h2><div class=&quot;indicates-required&quot;><span class=&quot;asterisk&quot;>*</span> indicates required</div><div class=&quot;mc-field-group&quot;>    <label for=&quot;mce-EMAIL&quot;>Email Address  <span class=&quot;asterisk&quot;>*</span></label>   <input type=&quot;email&quot; value=&quot;&quot; name=&quot;EMAIL&quot; class=&quot;required email&quot; id=&quot;mce-EMAIL&quot;></div><div class=&quot;mc-field-group&quot;>  <label for=&quot;mce-FNAME&quot;>First Name </label>    <input type=&quot;text&quot; value=&quot;&quot; name=&quot;FNAME&quot; class=&quot;&quot; id=&quot;mce-FNAME&quot;></div><div class=&quot;mc-field-group&quot;> <label for=&quot;mce-LNAME&quot;>Last Name </label> <input type=&quot;text&quot; value=&quot;&quot; name=&quot;LNAME&quot; class=&quot;&quot; id=&quot;mce-LNAME&quot;></div>   <div id=&quot;mce-responses&quot; class=&quot;clear&quot;>      <div class=&quot;response&quot; id=&quot;mce-error-response&quot; style=&quot;display:none&quot;></div>     <div class=&quot;response&quot; id=&quot;mce-success-response&quot; style=&quot;display:none&quot;></div>   </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->    <div style=&quot;position: absolute; left: -5000px;&quot;><input type=&quot;text&quot; name=&quot;b_77142ece814d3cff52058a51f_94d040322a&quot; tabindex=&quot;-1&quot; value=&quot;&quot;></div>    <div class=&quot;clear&quot;><input type=&quot;submit&quot; value=&quot;Subscribe&quot; name=&quot;subscribe&quot; id=&quot;mc-embedded-subscribe&quot; class=&quot;button&quot;></div>    </div></form></div><script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script><!--End mc_embed_signup-->" class="mail-list-form"> </iframe>
                                </form>
                            </div>
                        </div>
                </div>
<!-- might have to just like, do angular.... no seriously. why you laugh? ... but like, it would be so easy w angular lmao you can use boostrap w angular oh shit kk nvm lol. welp. shoulda done angular :P IM KIDDING chill. talk louder can you change the nvm. angular. you cange change the state. in angular. like the state ref. want me to ask jeremy? lmao jk
HAHAHAHAH. what do i ask? internal link isnt linking? i might be like: IM DOING A SIDE PROJECT, JEREMY. HELP ME. LOVE ME. trolol. i missed your laugh. you cute af psh. wtf is up w that music tho. it's fucking minight chill. i can tell. 
so like, ok 
what's happening? the id isn't linking?
 -->

            </section>
            <section id="app" name="app" class="fullheight image-bg overlay7">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="static/img/kyle1.jpg">
                </div>
                <div class="v-align-transform container">
                        <div class="row mb40 mb-xs-24">
                            <div class="col-sm-12 text-center">
                                <h2 class="mb16">Pair Up</h2>
                                <h4>Connect, navigate, listen, and communicate by downloading the <br><span class="ar1font">SKULLY</span> companion app, the heartbeat of the <span class="ar1font">AR-<span class="skullyred">1</span></span>.</h4>
                            </div>
                        </div>
                        <div class="row mb64">
                            <div class="col-sm-6 col-md-4 col-md-offset-2">
                                <div class="feature feature-3 text-center">
                                <!-- set to class disabled to gray out again -->
                                        <a id="btn2" data-content="Coming Soon" rel="popover" data-placement="bottom" data-trigger="hover"><img src="static/img/google_play_badge.svg"></a>
                                </div>
                                <div class="comingsoon mt8 text-center mb48 white">Coming Soon</div>
                                <!--end of feature-->
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="feature feature-3 text-center">
                                    <!-- set to class disabled to gray out again -->
                                    <a id="btn3" data-content="Coming Soon" rel="popover" data-placement="bottom" data-trigger="hover"><img src="static/img/app_store_badge.svg"></a>
                                </div>
                                <div class="comingsoon mt8 text-center mb48 white">Coming Soon</div>
                                <!--end of feature-->
                            </div>
                        </div>
                </div>
            </section>
            </div>
            {{> footer extra='<button class="scatbutton">SCAT</button>'}}
            </div>
            <audio id="scatman">
                <source src="http://dg6vcgn2vehm4.cloudfront.net/scatman.mp3" type="audio/mpeg">
                <source src="http://dg6vcgn2vehm4.cloudfront.net/scatman.ogg" type="audio/ogg">
            </audio>
            <audio id="hoversound">
                <source src="http://dg6vcgn2vehm4.cloudfront.net/motorcycle.mp3" type="audio/mpeg">
                <source src="http://dg6vcgn2vehm4.cloudfront.net/motorcycle.ogg" type="audio/ogg">
            </audio>
            <!-- TEMPLATES -->

            {{> scripts}}
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            <script type="text/javascript">

            var totalImages = 1200;
    var images = new Array();
    for (var i = 1; i <= totalImages; i += 4) {
        var filename = 'movie_';
        // if(i < 10) filename += '00';
        // else if(i < 100) filename += '0';
        filename += i + '.jpg';
        var img = new Image;
        img.src = 'http://dg6vcgn2vehm4.cloudfront.net/img/' + filename;
        // img.src="img2/" + filename;
        images.push(img);
        images.push(img);
    }

            var $btn2 = $('#btn2');
$btn2.data('state', 'hover');

var enterShow = function () {
    if ($btn2.data('state') === 'hover') {
        $btn2.popover('show');
    }
};
var exitHide = function () {
    if ($btn2.data('state') === 'hover') {
        $btn2.popover('hide');
    }
};

var clickToggle = function () {
    if ($btn2.data('state') === 'hover') {
        $btn2.data('state', 'pinned');
    } else {
        $btn2.data('state', 'hover')
        $btn3.popover('hover');
    }
};

$btn2.popover({trigger: 'manual'})
    .on('mouseenter', enterShow)
    .on('mouseleave', exitHide)
    .on('click', clickToggle);



            var $btn3 = $('#btn3');
$btn3.data('state', 'hover');

var enterShow = function () {
    if ($btn3.data('state') === 'hover') {
        $btn3.popover('show');
    }
};
var exitHide = function () {
    if ($btn3.data('state') === 'hover') {
        $btn3.popover('hide');
    }
};

var clickToggle = function () {
    if ($btn3.data('state') === 'hover') {
        $btn3.data('state', 'pinned');
    } else {
        $btn3.data('state', 'hover')
        $btn3.popover('hover');
    }
};

$btn3.popover({trigger: 'manual'})
    .on('mouseenter', enterShow)
    .on('mouseleave', exitHide)
    .on('click', clickToggle);


            // HOVER SOUND
            var audio = $("#hoversound")[0];
            $("#hovertext").mouseenter(function() {
                audio.play();
            });

            // SCATMAN!!! (Bottom right)
            var audio2 = $("#scatman")[0];
            $(".scatbutton").click(function() {

                audio2.currentTime = 6;
                audio2.volume = .3;
                audio2.play();
                // setTimeout(function() {audio.pause();}, 7150);
                setTimeout(function() {
                    audio2.pause();
                }, 7950);
                alert("ITS SCATMAN TIME!!!!");

            });


                var vid = document.getElementById("explosive-vid2")
                 var hudvid = $("#hudvid")[0];
                 hudvid.pause();
                 hudvid.currentTime = 1;
                var hudTop = $('#hudvid').offset().top;
               var fixmeTop = $('#explosive-vid2').offset().top;       // get initial position of the element
               var nextSection = $('#hud').offset().top;
               var playing = 0;

$(window).scroll(function() {                  // assign scroll event listener

               var fixmeBot = fixmeTop + $('#explosive-vid2').height();

    var currentScroll = $(window).scrollTop(); // get current position
    if (currentScroll >= fixmeTop-55 && currentScroll <= nextSection+(fixmeTop - fixmeBot)) {           // apply position: fixed if you
        console.log(Math.floor((window.pageYOffset-fixmeTop)/50))
        setImage(Math.floor((window.pageYOffset-fixmeTop)/50));

        $('#explosive-vid2').css({                      // scroll to that element or below it
            position: 'fixed',
            top: '55px',
            left: '0'
        });
    } else if (currentScroll < fixmeTop-55) {                                   // apply position: static
        console.log("Above")
        $('#explosive-vid2').attr("style","");  
        $('#explosive-vid2').css({                      // if you scroll above it
            position: 'absolute',
            top: '0'
        });
    } else {
        console.log("Below")
        $('#explosive-vid2').attr("style","");  
        $('#explosive-vid2').css({                      // if you scroll above it
            position: 'absolute',
            bottom: '0',
        });
    }
    if (currentScroll >= hudTop-55 && playing===0) {
        playing = 1;
        hudvid.play();
        $("#hudtext").fadeIn(600);
        $("#hudtext2").fadeOut(600);
        setTimeout(function() {
            $("#hudtext").fadeOut(1600);
            $("#hudtext2").fadeIn(1600);
        }, 11000);
        console.log("FFFF")
    }
});

window._wq = window._wq || [];
_wq.push({ "1nw": function(video) {
    video.bind("end", function() {
    $("#wistia_26_romulus").append("<a target='_blank' href='http://skullysystems.myshopify.com/' class='ctabutton'>Get Yours</a>");
  })
}});

            //     $(window).scroll(function() {
            //     if (isScrolledIntoView($(".hud-animation"))) {
            //         // $(window).unbind("scroll");
            //         TweenLite.set(".hud-animation", {perspective: 500});
            //         TweenMax.to("#hud-bg", 1.5, {rotationY: 20, transformOrigin: "left 50%", left: "-=20%", opacity: .7, ease: Power1.easeInOut, delay: .3});
            //         TweenMax.to("#hud-nose", 1.5, {rotationY: 20, transformOrigin: "left 50%", left: "-=20%", opacity: .9, ease: Power1.easeInOut, delay: .3});
            //         TweenMax.to("#hud-rear", 1.5, {rotationY: 20, transformOrigin: "left 50%", left: "-=20%", ease: Power1.easeInOut, delay: .3});
            //         TweenMax.to("#hud-mph", 1.5, {rotationY: 20, transformOrigin: "left 50%", left: "-=20%", ease: Power1.easeInOut, delay: .3});

            //         TweenMax.to("#hud-nose", 1, {left: "+=1%", delay: 1.3, ease: Power2.easeInOut});
            //         TweenMax.to("#hud-rear", 1.5, {scale: 2, top: "-=35%", left:"-=55%", ease: Power2.easeInOut, delay: .8});
            //         TweenMax.to("#hud-mph", 1.5, {scale: 2.5, top: "-=55%", left: "-=80%", ease: Power2.easeInOut, delay: .8});
            //     }
            // });

                // $.preloadImages();

            // });<div class="instructions">Scroll up and down with your mouse to see the demo</div>

    var canv = document.getElementById('explosive-vid2');
    var context = canv.getContext('2d');

    var currentLocation = 6;
    setImage(currentLocation);

    function setImage(newLocation) {
        context.drawImage(images[newLocation], 0, 0, canv.width, canv.height);
    }

        function resizeCanvas() {
            canv.width = $("#explosive2").innerWidth();
            canv.height = canv.width / (window.innerWidth / window.innerHeight);
        }
        resizeCanvas();
        // resize the canvas to fill browser window dynamically
    window.addEventListener('resize', resizeCanvas, false);
    </script>
</body>

</html>
