{{> header title="SKULLY Manuals" description="We want you to experience and enjoy our SKULLY AR-1 technology safely, so it’s very important that you read and follow the instructions in this Quick Start Guide." bodyClass="support-page"}}
{{> chat-widget}}
<div class="nav-container">
  {{> navbar}}

  {{> support-header}}

  <section class="bg-white support-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
          <ul>
            <li><a href="/support">FAQ's <i class="fa-icon-angle-right"></i></a></li>
            <li><a href="/how-to">How To <i class="fa-icon-angle-right"></i></a></li>
            <li class="active"><a href="/manuals">Manuals <i class="fa-icon-angle-right"></i></a></li>
          </ul>
          {{> support-sidebar-extras}}
        </div>
        <div class="col-sm-8 col-md-9">

          <h3><a href="https://dg6vcgn2vehm4.cloudfront.net/SKULLY-QuickStart-v1.pdf">SKULLY AR-1 Quick Start Guide</a></h3>
          <div class="thumbnail ebook">
            <a href="https://dg6vcgn2vehm4.cloudfront.net/SKULLY-QuickStart-v1.pdf">
              <img src="/static/img/quickstart-guide-cover.png" alt="SKULLY AR-1 Quick Start Guide">
            </a>
          </div>



        </div>
      </div>
    </div>
  </section>

  {{> footer-minimal}}
</div>
{{> scripts}}
</body>
</html>
