{{> header title="My SKULLY" description="If you need to update your address, helmet size/color or check on the order status of your SKULLY AR-1, please contact our Customer Care team." bodyClass="support-page"}}
{{> chat-widget}}
<div class="nav-container">
    {{> navbar}}

    {{> support-header pageTitle="My SKULLY"}}

    <section class="bg-white support-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
          <ul>
            <li><a href="/support">FAQ's <i class="fa-icon-angle-right"></i></a></li>
            <li><a href="/how-to">How To <i class="fa-icon-angle-right"></i></a></li>
            <li><a href="/manuals">Manuals <i class="fa-icon-angle-right"></i></a></li>
          </ul>
          {{> support-sidebar-extras}}
        </div>
        <div class="col-sm-8 col-md-9">
            <h3>Update or Confirm Order Information</h3>
            <p>If you need to update your address, helmet size/color or check on your order status, please contact customer care at <a href="mailto:connect@skully.com">connect@skully.com</a>.</p>
        </div>
      </div>
    </div>
    </section>

    {{> footer}}
</div>
{{> scripts}}
</body>

</html>
