{{> header title="My SKULLY"}}
<div class="nav-container">
  {{> navbar}}
  <!-- ACTUAL PAGE CONTENT -->
  <div class="main-container">
    <section class="fullheight image-bg bg-black overlay7">
      <div class="background-image-holder indeximage" style="background-image:url(static/img/careersheader.jpg);opacity:1;">
      </div>
      <div class="centered container">
        <div class="row text-center">
          <div class="col-md-12">
            <h2 class="uppercase bold">This page is currently under construction.</h2>
            <p>If you need to update your address, helmet size, or color selection, please contact customer care at
              <a href="mailto:connect@skully.com">connect@skully.com</a>.</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 col-md-offset-4">
            <a href="/" class="btn btn-middle">
              <h5>Go Home</h5>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  {{> footer}}
</div>
{{> scripts}}
</body>
</html>
