{{> header title="Page Not Found"}}
       <div class="nav-container">
    {{> navbar}}
        </div>
        <div class="main-container">
        <section class="image-bg fullscreen overlay bg-dark">
                <div class="background-image-holder indeximage">
                    <img alt="Background Image" class="indexgif background-image" src="static/img/engine_parts.jpg">
                </div>
                <div class="v-align-transform">
                    <div class="row bg-dark">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <img 
                                <i class="ti-receipt icon icon-lg mb24 mb-xs-0"></i>
                                <h1 class="large">Page Not Found</h1>
                                <h3>We know that part is around here somewhere…
                                </h3>
                                <p>The page you requested couldn't be found. This could be because we recently removed the page, or there is a spelling error in the URL</p>
                                <a class="btn" href="/">Home</a>
                                <a class="btn" href="http://skully.zendesk.com/hc/en-us">Contact Us</a>
                            </div>
                        </div>
                    </div>
                
            </section>

            {{> footer}}
        </div>
        {{> scripts}}

    </body>
</html>
