{{> header title="SKULLY Press"}}

<body>
    <div class="nav-container">
        {{> navbar}}
        <!-- ACTUAL PAGE CONTENT -->
    </div>
    <!-- TESTING SOMETHING -->
    <div class="main-container">
        <section class="image-bg fullscreen overlay bg-dark mh700">
                <div class="background-image-holder indeximage">
                    <img alt="Background Image" class="background-image" src="static/img/hero5.jpg">
                </div>
                <div class="centered">
                        <div class="row">
                            <div class="text-center">
                                <h1 class="uppercase">IN THE PRESS</h1>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
            </section>
        <!--end of container-->
        <section class="pt180 pb180 pt-xs-80 pb-xs-80 bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="mb64 mb-xs-32">News</h3>
                    </div>
                </div>
                <div class="row">
                <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press1" class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">Nov 12, 2015 in Reuters</span>
                            <h4>Smart helmet gives you eyes in the back of your head</h4>
                            <a target="_blank" href="http://www.reuters.com/article/2015/11/12/us-smart-helmet-idUSKCN0T11ZZ20151112#O3SXP8ybZHUGsA0P.97" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press2" class="feature mason bg-second p32 pt32 pb40 mb0 " >
                            <span class="fade-1-4 mb16 display-block">Sep 19, 2015 in New York Times</span>
                            <h4>A Brother Calls, and a Start-Up Is Born</h4>
                            <a target="_blank" href="http://www.nytimes.com/2015/09/21/business/smallbusiness/a-brother-calls-and-a-start-up-is-born.html?_r=1" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press3" class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">May 23, 2015 in Engadget</span>
                            <h4>Skully debuts AR helmet app while navigating delays</h4>
                            <a target="_blank" href="http://www.engadget.com/2015/05/23/skully-app-delay/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                            </div>
                        </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press4" class="feature mason bg-second p32 pt32 pb40 mb0 " >
                            <span class="fade-1-4 mb16 display-block">May 20, 2015 in Venture Beat</span>
                            <h4>Nobody wants your wearable</h4>
                            <a target="_blank" href="http://venturebeat.com/2015/05/20/dylans-desk-nobody-wants-your-wearable/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press5" class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">Apr 17, 2015 in Digital Trends</span>
                            <h4>Skully’s AR-1 puts a HUD, music, rear-view cam inside one smart helmet</h4>
                            <a target="_blank" href="http://www.digitaltrends.com/cool-tech/skully-the-smart-helmet-that-can-save-your-life/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press6" class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">March 4, 2015 in USA Today</span>
                            <h4>Skully funding proves the right wearable computer still excites</h4>
                            <a target="_blank" href="http://americasmarkets.usatoday.com/2015/03/04/skully-funding-proves-the-right-wearable-computer-still-excites/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press7" class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">February 27, 2015 in Silicon Valley Business Journal</span>
                            <h4>Skully raises $11M as it gets set to ship first smart biker helmets</h4>
                            <a target="_blank" href="http://www.bizjournals.com/sanjose/blog/techflash/2015/02/skully-raises-11m-as-it-gets-set-to-ship.html" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                            </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press8" class="mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">February 27, 2015 in VentureBeat</span>
                            <h4>Skully closes $11M series A for its hi-tech ‘intelligent’ motorcycle helmet</h4>
                            <a target="_blank" href="http://venturebeat.com/2015/02/27/skully-closes-11m-series-a-for-its-hi-tech-intelligent-motorcycle-helmet/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press9" class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">February 27, 2015 in Bloomberg</span>
                            <h4>High-Tech Motorcycle Helmet Skully Gets $11 Million in Funding</h4>
                            <a target="_blank" href="http://www.bloomberg.com/news/articles/2015-02-27/high-tech-motorcycle-helmet-skully-gets-11-million-in-funding" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press10" class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">Feb 27, 2015 in Wall Street Journal</span>
                            <h4>Skully Revs Up With $11 Million for Smart Motorcycle Helmet</h4>
                            <a target="_blank" href="http://blogs.wsj.com/venturecapital/2015/02/27/skully-revs-up-with-11-million-for-smart-motorcycle-helmet/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press11" class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">Feb 27, 2015 in Forbes</span>
                            <h4>Skully, Maker Of A Google Glass-Like Motorcycle Helmet, Raises $11 Million</h4>
                            <a target="_blank" href="http://www.forbes.com/sites/aarontilley/2015/02/27/skully-maker-of-a-google-glass-like-motorcycle-helmet-raises-11-million/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press12"class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">Feb 27, 2015 in Fox Business</span>
                            <h4>Skully Scores $11M in Series A Round for Smart Motorcycle Helmet</h4>
                            <a target="_blank" href="http://smallbusiness.foxbusiness.com/entrepreneurs/2015/02/27/skully-scores-11m-in-series-round-for-smart-motorcycle-helmet/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press13" class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">Feb 27, 2015 in TechCrunch</span>
                            <h4>Smart Motorcycle Helmet Maker Skully Lands $11 Million In Series A To Start Manufacturing The AR-1</h4>
                            <a target="_blank" href="http://techcrunch.com/2015/02/27/smart-motorcycle-helmet-maker-skully-lands-11-million-in-series-a-to-start-manufacturing-the-ar-1/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press14" class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">Feb 27, 2015 in TechCrunch</span>
                            <h4>Smart Helmet Maker Skully Has Raised Another $1.5 Million</h4>
                            <a target="_blank" href="http://techcrunch.com/2015/01/14/smart-helmet-maker-skully-has-raised-another-1-5-million/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div id="press15" class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">Nov 18, 2014 in Silicon Valley Business Journal</span>
                            <h4>Skully Systems founder recalls scary Demo ride, as tech show hits San Jose</h4>
                            <a target="_blank" href="http://www.bizjournals.com/sanjose/news/2014/11/18/skully-helmets-founder-recalls-scary-demo-ride-as.html" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--end of container-->
        </section>
        <section class="image-bg fullscreen overlay bg-dark mh700-2">
            <div class="background-image-holder indeximage">
                <img src="/static/img/skully-25.jpg" alt="index3">
            </div>
            <div class="container" style="height: 60vh">
                <div class="row">
                    <div class="text-center">
                        <h2 class="uppercase white">PRESS PACKETS</h2>
                        <h3 class="mb0 white">Skully is the ultimate wearable technology</h3> </div>
                </div>
                <div class="v-align-transform">
                <div class="text-center">
                <a href="https://www.dropbox.com/sh/ongmy9llywbqpvw/AABngxYqglZ-zhsyuFca-IYca?dl=0" class="btn btn-mega">Get Your Press Packet</a>
                </div>
            </div>
        </section>
        {{> footer}}
    </div>
    {{> scripts}}

<script type="text/javascript">
$("document").ready(function() {
    $(".mason").click(function() {
      window.open($(this).find("a").attr("href"), "_blank"); 
      return false;
    });

    $(".project").click(function() {
      window.open($(this).find("a").attr("href"), "_blank"); 
      return false;
    });
});
</script>
</body>
</html>
