{{> header title="SKULLY Press"}}

<body>
    <div class="nav-container">
        {{> navbar}}
        <!-- ACTUAL PAGE CONTENT -->
    </div>
    <!-- TESTING SOMETHING -->
    <div class="main-container">
        <section class="image-bg fullscreen overlay bg-dark mh700">
                <div class="background-image-holder indeximage">
                    <img alt="Background Image" class="background-image" src="static/img/hero5.jpg">
                </div>
                <div class="centered">
                        <div class="row">
                            <div class="text-center">
                                <h1 class="uppercase">IN THE PRESS</h1>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
            </section>
            <section class="bg-primary">

                <div class="container">

                    <div class="row bordered">
                        <div class="col-md-12 col-sm-12 col-xs-12 bordered">
                            <div class="row bordered">
                                <div class="col-md-4 bordered">
                                    <!-- ROW FOR PRESS CONTACT -->
                                    <div class="row bordered">
                                        <div class="col-xs-8 col-sm-8 col-md-8 bordered">
                                            Contact rep info here <br>
                                            Contact rep info here <br>
                                            Contact rep info here <br>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 bordered">
                                            Contact rep headshot
                                        </div>
                                    </div>
                                    <!-- END ROW FOR PRESS CONTACT -->
                                    <div class="row bordered mt64">
                                        <div class="col-md-6">
                                            Website
                                        </div>
                                        <div class="col-md-6">
                                            <a href="http://staging.skully.com">skully.com</a>
                                        </div>
                                    </div>
                                    <div class="row bordered">
                                        <div class="col-md-6">
                                            Website
                                        </div>
                                        <div class="col-md-6">
                                            <a href="http://staging.skully.com">skully.com</a>
                                        </div>
                                    </div>
                                    <div class="row bordered">
                                        <div class="col-md-6">
                                            Website
                                        </div>
                                        <div class="col-md-6">
                                            <a href="http://staging.skully.com">skully.com</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 bordered">
                                    <h2 class="uppercase">Our Story</h2>
                                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            <section class="bg-secondary">
                <div class="press-articles container">
                    <div class="row bordered">
                        <h2 class="uppercase">Featured News</h2>
                        <div class="col-md-6 bordered">
                            <div class="row bordered">
                                <div class="col-md-2 bordered">
                                    <img src="static/img/presstest1.jpg">
                                </div>
                                <div class="col-md-10 bordered">
                                    <h4>News Outlet Name</h4>
                                        Blurb about the article with a link
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 bordered">
                            <div class="row bordered">
                                <div class="col-md-2 bordered">
                                    logo
                                </div>
                                <div class="col-md-10 bordered">
                                    <h4>News Outlet Name</h4>
                                        Blurb about the article with a link
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- |||||||||||||||||||||||||||||||| -->
                    <div class="row bordered">
                        <div class="col-md-6 bordered">
                            <div class="row bordered">
                                <div class="col-md-2 bordered">
                                    logo
                                </div>
                                <div class="col-md-10 bordered">
                                    <h4>News Outlet Name</h4>
                                        Blurb about the article with a link
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 bordered">
                            <div class="row bordered">
                                <div class="col-md-2 bordered">
                                    logo
                                </div>
                                <div class="col-md-10 bordered">
                                    <h4>News Outlet Name</h4>
                                        Blurb about the article with a link
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ||||||||||||||||||||||||||||||||||||||||| -->
                    <div class="row bordered">
                        <div class="col-md-6 bordered">
                            <div class="row bordered">
                                <div class="col-md-2 bordered">
                                    logo
                                </div>
                                <div class="col-md-10 bordered">
                                    <h4>News Outlet Name</h4>
                                        Blurb about the article with a link
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 bordered">
                            <div class="row bordered">
                                <div class="col-md-2 bordered">
                                    logo
                                </div>
                                <div class="col-md-10 bordered">
                                    <h4>News Outlet Name</h4>
                                        Blurb about the article with a link
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
                    <div class="row bordered">
                        <div class="col-md-6 bordered">
                            <div class="row bordered">
                                <div class="col-md-2 bordered">
                                    logo
                                </div>
                                <div class="col-md-10 bordered">
                                    <h4>News Outlet Name</h4>
                                        Blurb about the article with a link
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 bordered">
                            <div class="row bordered">
                                <div class="col-md-2 bordered">
                                    logo
                                </div>
                                <div class="col-md-10 bordered">
                                    <h4>News Outlet Name</h4>
                                        Blurb about the article with a link
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {{> footer}}
    </div>
    {{> scripts}}

</body>
</html>
