{{> header title="SKULLY Press"}}

<div class="nav-container">
  {{> navbar}}
  <!-- ACTUAL PAGE CONTENT -->
</div>

<!-- TESTING SOMETHING -->
<div class="main-container">
  <section class="image-bg fullscreen bg-white mh700">
    <div class="background-image-holder press-image-background" style="background-image:url(static/img/pressheader2.jpeg);opacity:1;">
    </div>
    <div class="centered">
      <div class="row">
        <div class="text-center">
          <h1 class="black uppercase">IN THE PRESS</h1>
        </div>
      </div>
    </div>
  </section>

  <!--end of container-->
  <section class="pt128 pb0 pt-xs-80 pb-xs-0 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="uppercase bold black">Featured Articles</h2>
        </div>
      </div>

      <div class="row">
        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-reuters" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">Nov 12, 2015 in Reuters</span>
            <h4>Smart helmet gives you eyes in the back of your head</h4>
            <a target="_blank" href="http://www.reuters.com/article/2015/11/12/us-smart-helmet-idUSKCN0T11ZZ20151112#O3SXP8ybZHUGsA0P.97" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>

        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-nytimes" class="feature mason bg-second p32 pt32 pb40 mb0 ">
            <span class="fade-1-4 mb16 display-block">Sep 19, 2015 in New York Times</span>
            <h4>A Brother Calls, and a Start-Up Is Born</h4>
            <a target="_blank" href="http://www.nytimes.com/2015/09/21/business/smallbusiness/a-brother-calls-and-a-start-up-is-born.html?_r=1" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>

        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-engadget" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">May 23, 2015 in Engadget</span>
            <h4>
              <span class="ar1font">SKULLY</span> debuts AR helmet app while navigating delays</h4>
            <a target="_blank" href="http://www.engadget.com/2015/05/23/skully-app-delay/" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>
      </div>

      <!--end of row-->
      <div class="row">
        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-vb" class="feature mason bg-second p32 pt32 pb40 mb0 ">
            <span class="fade-1-4 mb16 display-block">May 20, 2015 in Venture Beat</span>
            <h4>Nobody wants your wearable</h4>
            <a target="_blank" href="http://venturebeat.com/2015/05/20/dylans-desk-nobody-wants-your-wearable/" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>

        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-digitaltrends" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">Apr 17, 2015 in Digital Trends</span>
            <h4>
              <span class="ar1font">SKULLY</span>’s AR-1 puts a HUD, music, rear-view cam inside one smart helmet</h4>
            <a target="_blank" href="http://www.digitaltrends.com/cool-tech/skully-the-smart-helmet-that-can-save-your-life/" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>

        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-usa" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">March 4, 2015 in USA Today</span>
            <h4>
              <span class="ar1font">SKULLY</span> funding proves the right wearable computer still excites</h4>
            <a target="_blank" href="http://americasmarkets.usatoday.com/2015/03/04/skully-funding-proves-the-right-wearable-computer-still-excites/" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-svbj" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">February 27, 2015 in Silicon Valley Business Journal</span>
            <h4>
              <span class="ar1font">SKULLY</span> raises $11M as it gets set to ship first smart biker helmets
            </h4>
            <a target="_blank" href="http://www.bizjournals.com/sanjose/blog/techflash/2015/02/skully-raises-11m-as-it-gets-set-to-ship.html" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>

        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-vb" class="mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">February 27, 2015 in VentureBeat</span>
            <h4>
              <span class="ar1font">SKULLY</span> closes $11M series A for its hi-tech ‘intelligent’ motorcycle helmet
            </h4>
            <a target="_blank" href="http://venturebeat.com/2015/02/27/skully-closes-11m-series-a-for-its-hi-tech-intelligent-motorcycle-helmet/" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>
        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-bloomberg" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">February 27, 2015 in Bloomberg</span>
            <h4>High-Tech Motorcycle Helmet
              <span class="ar1font">SKULLY</span> Gets $11 Million in Funding
            </h4>
            <a target="_blank" href="http://www.bloomberg.com/news/articles/2015-02-27/high-tech-motorcycle-helmet-skully-gets-11-million-in-funding" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>
      </div>

      <!--end of row-->
      <div class="row">
        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-tc" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">Feb 27, 2015 in TechCrunch</span>
            <h4>Smart Motorcycle Helmet Maker
              <span class="ar1font">SKULLY</span> Lands $11 Million In Series A To Start Manufacturing The AR-1
            </h4>
            <a target="_blank" href="http://techcrunch.com/2015/02/27/smart-motorcycle-helmet-maker-skully-lands-11-million-in-series-a-to-start-manufacturing-the-ar-1/" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>

        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-forbes" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">Feb 27, 2015 in Forbes</span>
            <h4>
              <span class="ar1font">SKULLY</span>, Maker Of A Google Glass-Like Motorcycle Helmet, Raises $11 Million</h4>
            <a target="_blank" href="http://www.forbes.com/sites/aarontilley/2015/02/27/skully-maker-of-a-google-glass-like-motorcycle-helmet-raises-11-million/" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>

        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-fox" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">Feb 27, 2015 in Fox Business</span>
            <h4>
              <span class="ar1font">SKULLY</span> Scores $11M in Series A Round for Smart Motorcycle Helmet</h4>
            <a target="_blank" href="http://smallbusiness.foxbusiness.com/entrepreneurs/2015/02/27/skully-scores-11m-in-series-round-for-smart-motorcycle-helmet/" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>
      </div>

      <!--end of row-->
      <div class="row">
        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-wsj" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">Feb 27, 2015 in Wall Street Journal</span>
            <h4>
              <span class="ar1font">SKULLY</span> Revs Up With $11 Million for Smart Motorcycle Helmet
            </h4>
            <a target="_blank" href="http://blogs.wsj.com/venturecapital/2015/02/27/skully-revs-up-with-11-million-for-smart-motorcycle-helmet/" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>

        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-tc" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">Feb 27, 2015 in TechCrunch</span>
            <h4>Smart Helmet Maker
              <span class="ar1font">SKULLY</span> Has Raised Another $1.5 Million
            </h4>
            <a target="_blank" href="http://techcrunch.com/2015/01/14/smart-helmet-maker-skully-has-raised-another-1-5-million/" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>

        <div class="presslinkbox col-md-4 col-sm-4">
          <div id="press-svbj" class="feature mason bg-second p32 pt32 pb40 mb0">
            <span class="fade-1-4 mb16 display-block">Nov 18, 2014 in Silicon Valley Business Journal</span>
            <h4>
              <span class="ar1font">SKULLY</span> Systems founder recalls scary Demo ride, as tech show hits San Jose</h4>
            <a target="_blank" href="http://www.bizjournals.com/sanjose/news/2014/11/18/skully-helmets-founder-recalls-scary-demo-ride-as.html" class="mb0 right">
              <h6 class="uppercase mb0 fade-on-hover">Read Story
                <i class="ti-arrow-right"></i>
              </h6>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--end of container-->
  </section>

  <section id="presspacket-section" class="image-bg fullscreen bg-white mh700-2 pt128">
    <div id="presspacket-background" class="background-image-holder" style="background-image:url(static/img/userguide.jpeg);opacity:1;">
    </div>

    <div class="container" style="height: 60vh">
      <div class="row mb40">
        <div class="text-center">
          <h2 class="bold uppercase">Press kits</h2>
          <p>Scenes from the road, lab, our headquarters, and around the world.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-xs-12">
          <a href="https://www.dropbox.com/sh/au3umwb5v8e9oqq/AAChU3dc4VMg2etsE5KzbL3qa?dl=0&s=sl" target="_blank" class="btn btn-middle">
            <h5>Download Press Kit</h5>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-xs-12">
          <a href="https://www.dropbox.com/sh/1c0o7787nakfmgz/AACRSrkQvjLThZLyZMRo6zWCa?dl=1&s=sl" target="_blank" class="btn btn-middle">
            <h5>Download Logo Kit</h5>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-xs-12">
          <a class="btn btn-middle" data-toggle="modal" data-target="#myModal">
            <h5>Request an Exclusive</h5>
          </a>
        </div>
      </div>
    </div>
  </section>

  {{> footer}}

</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title mb16">Request an Exclusive</h4>
        <p>Request an exclusive for unreleased assets that cover the AR-1's evolution from prototype to reality.</p>
      </div>
      <div class="modal-body">
        <form id="contactform" method="POST">
          <input type="hidden" name="_next" value="press" />
          <input type="hidden" name="_subject" value="PRESS EXCLUSIVE" />
          <input type="text" name="name" placeholder="Your name" required>
          <input type="text" name="_replyto" placeholder="Your email" required>
          <textarea name="message" placeholder="Your message" required></textarea>
          <input type="text" name="_gotcha" style="display:none" />
          <input type="submit" value="Send">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{{> scripts}}

<script type="text/javascript">
  if (window.mobilecheck()) {

    $("#presspacket-background").css("background", "url('/static/img/presslowerbg.jpg')");
    $("#presspacket-image").attr("src", "/static/img/presslowerbg.jpg")
    $("#presspacket-section").addClass("overlay3").removeClass("bg-white").addClass("bg-black");
  }

  var contactform = document.getElementById('contactform');
  contactform.setAttribute('action', '//formspree.io/' + 'pr' + '@' + 'skully' + '.' + 'com');

  $("document").ready(function() {
    $(".mason").click(function() {
      window.open($(this).find("a").attr("href"), "_blank");
      return false;
    });

    $(".project").click(function() {
      window.open($(this).find("a").attr("href"), "_blank");
      return false;
    });
  });
</script>
</body>
</html>
