{{> header title="SKULLY Press"}}

<body>
    <div class="nav-container">
        {{> navbar}}
        <!-- ACTUAL PAGE CONTENT -->
    </div>
    <!-- TESTING SOMETHING -->
    <div class="main-container">
        <section class="image-bg fullscreen overlay bg-dark mh700">
                <div class="background-image-holder indeximage">
                    <img alt="Background Image" class="background-image" src="static/img/hero5.jpg">
                </div>
                <div class="centered">
                        <div class="row">
                            <div class="text-center">
                                <h1 class="uppercase">IN THE PRESS</h1>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
            </section>
        <!--end of container-->
        <section class="pt180 pb180 pt-xs-80 pb-xs-80 bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="mb64 mb-xs-32">News</h3>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                <div class="presslinkbox col-md-4 col-sm-4">
                        <div class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">June 3, 2015 in Wall Street Journal</span>
                            <h4>New Technology Revs Up Motorcycles</h4>
                            <a target="_blank" href="http://www.wsj.com/video/new-technology-revs-up-motorcycles/DE503979-8C19-4295-B92A-A2066F9C29E8.html" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">May 20, 2015 in Venture Beat</span>
                            <h4>Nobody wants your wearable</h4>
                            <a target="_blank" href="http://venturebeat.com/2015/05/20/dylans-desk-nobody-wants-your-wearable/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">March 4, 2015 in USA Today</span>
                            <h4>Skully funding proves the right wearable computer still excites</h4>
                            <a target="_blank" href="http://americasmarkets.usatoday.com/2015/03/04/skully-funding-proves-the-right-wearable-computer-still-excites/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">February 27, 2015 in Forbes</span>
                            <h4>Skully, Maker Of A Google Glass-Like Motorcycle Helmet, Raises $11 Million</h4>
                            <a target="_blank" href="http://www.forbes.com/sites/aarontilley/2015/02/27/skully-maker-of-a-google-glass-like-motorcycle-helmet-raises-11-million/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">February 27, 2015 in TechCrunch</span>
                            <h4>Smart Motorcycle Helmet Maker Skully Lands $11 Million In Series A To Start Manufacturing The <span class="ar1font">AR-1</span></h4>
                            <a target="_blank" href="http://techcrunch.com/2015/02/27/smart-motorcycle-helmet-maker-skully-lands-11-million-in-series-a-to-start-manufacturing-the-ar-1/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">February 27, 2015 in Bloomberg</span>
                            <h4>High-Tech Motorcycle Helmet Skully Gets $11 Million in Funding</h4>
                            <a target="_blank" href="http://www.bloomberg.com/news/articles/2015-02-27/high-tech-motorcycle-helmet-skully-gets-11-million-in-funding" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">August 25, 2014 in CNBC</span>
                            <h4>View New 'Smart' Motorcycle Helmet</h4>
                            <a target="_blank" href="http://video.cnbc.com/gallery/?video=3000305285" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">July 29, 2014 in Popular Mechanics</span>
                            <h4>We Try on the Augmented Reality Motorcycle Helmet</h4>
                            <a target="_blank" href="http://www.popularmechanics.com/cars/motorcycles/a10973/we-try-on-the-augmented-reality-motorcycle-helmet-17039038/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    <div class="presslinkbox col-md-4 col-sm-4">
                        <div class="feature mason bg-second p32 pt32 pb40 mb0">
                            <span class="fade-1-4 mb16 display-block">October 17, 2013 in Road & Track</span>
                            <h4>The Skully P1 puts eyes on the back of your head</h4>
                            <a target="_blank" href="http://www.roadandtrack.com/car-culture/car-accessories/reviews/a5744/skullyhelmet-information-system/" class="mb0 right">
                                <h6 class="uppercase mb0 fade-on-hover">Read Story <i class="ti-arrow-right"></i></h6>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--end of container-->
        </section>
        <section class="pb0 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                        <h2 class="uppercase fade-half white">PRESS PACKETS</h2>
                        <h3 class="mb0 white">Skully is the ultimate wearable technology</h3>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="projects bg-dark">
            <div class="container">
                <div class="pressblock">
                    <div id="block1" class="project" data-filter="People">
                        <div class="image-tile hover-tile text-center">
                            <img alt="image" class="background-image" src="static/img/hero5.jpg" />
                            <div class="hover-state">
                                <a target="_blank" href="https://www.dropbox.com/sh/ongmy9llywbqpvw/AABngxYqglZ-zhsyuFca-IYca?dl=0">
                                    <h3 class="uppercase mb8">Logos</h3>
                                    <h6 class="uppercase">Logos / Photography</h6>
                                </a>
                            </div>
                        </div>
                        <!--end of hover tile-->
                    </div>
                    <div id="block2" class="project" data-filter="People">
                        <div class="image-tile hover-tile text-center">
                            <img alt="image" class="background-image" src="static/img/team-2.jpg" />
                            <div class="hover-state">
                                <a target="_blank" href="https://www.dropbox.com/sh/ongmy9llywbqpvw/AABngxYqglZ-zhsyuFca-IYca?dl=0">
                                    <h3 class="uppercase mb8">Founders</h3>
                                    <h6 class="uppercase">Founders / Photography</h6>
                                </a>
                            </div>
                        </div>
                        <!--end of hover tile-->
                    </div>
                    <div id="block3" class="project" data-filter="People">
                        <div class="image-tile hover-tile text-center">
                            <img alt="image" class="background-image" src="static/img/skully-25.jpg" />
                            <div class="hover-state">
                                <a target="_blank" href="https://www.dropbox.com/sh/ongmy9llywbqpvw/AABngxYqglZ-zhsyuFca-IYca?dl=0">
                                    <h3 class="uppercase mb8">All Packets</h3>
                                    <!-- <h6 class="uppercase">World Tour / Photography</h6> -->
                                </a>
                            </div>
                        </div>
                        <!--end of hover tile-->
                    </div>
                    <div id="block4" class="project" data-filter="People">
                        <div class="image-tile hover-tile text-center">
                            <img alt="image" class="background-image" src="static/img/skully-11.jpg" />
                            <div class="hover-state">
                                <a target="_blank" href="https://www.dropbox.com/sh/ongmy9llywbqpvw/AABngxYqglZ-zhsyuFca-IYca?dl=0">
                                    <h3 class="uppercase mb8">Product Shots</h3>
                                    <h6 class="uppercase">Product / Photography</h6>
                                </a>
                            </div>
                        </div>
                        <!--end of hover tile-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        {{> footer}}
    </div>
    {{> scripts}}

<script type="text/javascript">
$("document").ready(function() {
    $(".mason").click(function() {
      window.open($(this).find("a").attr("href"), "_blank"); 
      return false;
    });

    $(".project").click(function() {
      window.open($(this).find("a").attr("href"), "_blank"); 
      return false;
    });
});
</script>
</body>
</html>
