{{> header title="SKULLY Store: AR-1" cssfile='<link href="static/css/shopify.css" rel="stylesheet" type="text/css" media="all" />'}}
<div class="nav-container">
  {{> navbar}}

  <div class="main-container">
    <section class="bg-white">
      <div class="container">

        <div class="product-single">
          <div id="storemobile" class="description">
            <h4 class="uppercase">
              <span class="ar1font">SKULLY AR-
                <span class="skullyred">1</span>
              </span>
            </h4>
            <div class="mb32 mb-xs-24">
              <span class="mb16 number price">$1,499 USD</span>
              <br>
            </div>
            <p>
              The
              <span class="ar1font">SKULLY AR-
                <span class="skullyred">1</span>
              </span> is the first helmet to feature a built-in 180° Blindspot Camera and Heads-Up Display for unparalleled situational awareness and safety. Focus on what matters most: the road ahead.
            </p>
          </div>
          <div class="row mb24 mb-xs-48">
            <div class="col-md-5 col-sm-6">
              <img id="helmet_img" alt="Image">
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-6">
              <div id="storedesktop" class="description">
                <h4 class="uppercase">
                  <span class="ar1font">SKULLY AR-
                    <span class="skullyred">1</span>
                  </span>
                </h4>
                <div class="mb32 mb-xs-24">
                  <span class="mb16 number price"></span>
                  <br>
                </div>
                <p>
                  The
                  <span class="ar1font">SKULLY AR-
                    <span class="skullyred">1</span>
                  </span> is the first helmet to feature a built-in 180° Blindspot Camera and Heads-Up Display for unparalleled situational awareness and safety. Focus on what matters most: the road ahead.
                </p>
              </div>
              <!-- <hr class="mb48 mb-xs-24"> -->
              <form class="variant-selectors">

                <div class="color-picker picker-wrapper">
                  <div class="instructions emphasis">Choose a color:</div>
                  <div class="picker" id="color-picker"></div>
                </div>

                <div class="size-picker picker-wrapper">
                  <div class="instructions emphasis">Choose a size:</div>
                  <div class="picker" id="size-picker"></div>
                </div>

                <h6 id="affirmtext">To determine your helmet size, please see our Sizing Guide below.</h6>
                <button class="btn buy-button">Add To Cart</button>
              </form>
              <h6>Estimated delivery is summer 2016.</h6>
              <h6>International customers will be responsible for paying any applicable customs or duties.</h6>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of product single-->

        <!--end of row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="tabbed-content text-tabs">
                <ul class="tabs">
                  <li class="active">
                    <div class="tab-title">
                      <span>Sizing Guide</span>
                    </div>
                    <div class="tab-content">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>
                              <span class="ar1font">SKULLY AR-
                                <span class="skullyred">1</span>
                              </span>
                            </th>
                            <th>HAT SIZE</th>
                            <th>CM</th>
                            <th>INCHES</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td style="font-weight: bold">S</td>
                            <td>6
                              <sup>7/8</sup> - 7</td>
                            <td>55 - 56</td>
                            <td>21
                              <sup>5/8</sup> - 22</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold">M</td>
                            <td>7
                              <sup>1/8</sup> - 7
                              <sup>1/4</sup>
                            </td>
                            <td>57 - 58</td>
                            <td>22
                              <sup>1/2</sup> - 22
                              <sup>7/8</sup>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold">L</td>
                            <td>7
                              <sup>3/8</sup> - 7
                              <sup>1/2</sup>
                            </td>
                            <td>59 - 60</td>
                            <td>23
                              <sup>1/4</sup> - 23
                              <sup>5/8</sup>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold">XL</td>
                            <td>7
                              <sup>1/2</sup> - 7
                              <sup>5/8</sup>
                            </td>
                            <td>60 - 61</td>
                            <td>23
                              <sup>5/8</sup> - 24</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold">XXL</td>
                            <td>7
                              <sup>5/8</sup> - 7
                              <sup>3/4</sup>
                            </td>
                            <td>61 - 62</td>
                            <td>24 - 24
                              <sup>3/8</sup>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
                  <li>
                    <div class="tab-title">
                      <span>Description</span>
                    </div>
                    <div class="tab-content">
                      <p class="bold">Anthracite: Matte Black</p>
                      <p class="bold">Arctic White: Gloss White</p>
                      <p>
                        For more information, please visit the
                        <a href="/">
                          <span class="ar1font">SKULLY AR-
                            <span class="skullyred">1</span>
                          </span> page.</a>
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
              <!--end of text tabs-->
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of product single-->
        <!-- <h6>Interested in trying on a helmet in a store? <a href="map">Locate a Dealer</a></h6> -->

  <!-- .cart begin -->
  <div class="cart">

    <!-- .cart-section begin // cart header -->
    <div class="cart-section cart-section--top">
      <h2 class="cart-title">Your cart</h2>
      <button class="btn--close">
        <span aria-role="hidden">×</span>
        <span class="visuallyhidden">Close</span>
      </button>
    </div>
    <!-- .cart-section end -->

    <!-- .cart-form begin // cart body -->
    <div class="cart-form">
      <div class="cart-item-container cart-section">

      </div>

      <!-- .cart-bottom begin -->
      <div class="cart-bottom">
        <div class="cart-info clearfix cart-section">
          <div class="type--caps cart-info__total cart-info__small">Total</div>
          <div class="cart-info__pricing">
            <span class="cart-info__small cart-info__total">USD</span>
            <span class="pricing pricing--no-padding"></span>
          </div>
        </div>
        <div class="cart-actions-container cart-section type--center">
          <div class="cart-discount-notice cart-info__small">Shipping and discount codes are added at checkout.</div>
          <input type="submit" class="btnShop btn--cart-checkout" id="checkout" name="checkout" value="Checkout">
        </div>
      </div>
      <!-- .cart-bottom end -->

    </div>
    <!-- .cart-form end -->

  </div>
  <!-- .cart end -->

  <!-- .cart-tab start -->
  <button class="btnShop btn--cart-tab">
    <div class="btn__counter"></div>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon-cart icon-cart--side" viewBox="0 0 25 25" enable-background="new 0 0 25 25"><g fill="#fff"><path d="M24.6 3.6c-.3-.4-.8-.6-1.3-.6h-18.4l-.1-.5c-.3-1.5-1.7-1.5-2.5-1.5h-1.3c-.6 0-1 .4-1 1s.4 1 1 1h1.8l3 13.6c.2 1.2 1.3 2.4 2.5 2.4h12.7c.6 0 1-.4 1-1s-.4-1-1-1h-12.7c-.2 0-.5-.4-.6-.8l-.2-1.2h12.6c1.3 0 2.3-1.4 2.5-2.4l2.4-7.4v-.2c.1-.5-.1-1-.4-1.4zm-4 8.5v.2c-.1.3-.4.8-.5.8h-13l-1.8-8.1h17.6l-2.3 7.1z"></path><circle cx="9" cy="22" r="2"></circle><circle cx="19" cy="22" r="2"></circle></g></svg>
  </button>
  <!-- .cart-tab end -->
      <!--end of container-->
    </section>
    {{> footer}}
  </div>
  {{> scripts}}

  <script type="text/javascript">
    document.getElementById('ShopifyEmbedScript') || document.write(
      '<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
  </script>
  <script id="cart-item-template" type="text/template">
    <div class="cart-item">
      <div class="cart-item__img"></div>
      <div class="cart-item__content">
        <div class="cart-item__content-row">
          <div class="cart-item__variant-title"></div>
          <span class="cart-item__title"></span>
        </div>
        <div class="cart-item__content-row">
          <div class="cart-item__quantity-container">
            <button class="btn--seamless quantity-decrement" type="button"><span>-</span><span class="visuallyhidden">Decrement</span></button>
            <input class="cart-item__quantity" type="number" min="0" aria-label="Quantity">
            <button class="btn--seamless quantity-increment" type="button"><span>+</span><span class="visuallyhidden">Increment</span></button>
          </div>
          <span class="cart-item__price"></span>
        </div>
      </div>
    </div>
  </script>
  <noscript>
    <a href="https://skullysystems.myshopify.com/cart/5972989700:1" target="_blank">Buy SKULLY AR-1</a>
  </noscript>

  <script src="static/js/shopify.js"></script>
   <script src="static/js/shopify-bundles.js"></script>
  </body>
  </html>
