{{> header title="SKULLY Store: AR-1"}}
<body>
    <div class="nav-container">
    {{> navbar}}
                   
        <div class="main-container">
            <div class="view-cart">
            <a id="cart" class="text-right" href="https://skully.foxycart.com/cart?cart=view"><i class="cart1 ti-shopping-cart icon-md"></i><i class="cart2 ti-shopping-cart-full icon-md"></i></a>
                <div class="cart-dropdown">
                    <table>
                    <thead>
                    <th>Item</th>
                    <th>Color</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Qty</th>
                    </thead>
                    <tbody id="cart-dropdown-content">
                    </tbody>
                    </table>
                    <!-- <p data-fc-id="minicart">
                        <ul>
                            <li><span data-fc-id="minicart-quantity">0</span>
                            <span data-fc-id="minicart-singular"> item </span>
                            <span data-fc-id="minicart-plural"> items </span></li>
                            <li>$<span data-fc-id="minicart-order-total">0</span></li>
                            </ul>
                    </p> -->
                </div>
            </div>
            <section class="bg-primary">
                <div class="container">

                    <div class="product-single">
                        <div class="row mb24 mb-xs-48">
                            <div class="col-md-5 col-sm-6">
                                 <img id="helmet_img" alt="Image" src="static/img/blackhelmet_store.png" />
                            </div>
                            <div class="col-md-5 col-md-offset-1 col-sm-6">
                                <div class="description">
                                    <h4 class="uppercase">SKULLY <span class="ar1font">AR-1</span></h4>
                                    <div class="mb32 mb-xs-24">
                                        <span class="number price">$1499.99</span>
                                    </div>
                                    <p>
                                        SKULLY <span class="ar1font">AR-1</span> is the world's smartest motorcycle helmet. With a blind spot camera and transparent heads up display (HUD), the SKULLY <span class="ar1font">AR-1</span> not only eliminates blind spots but gives you the most important information right when you need it. 
                                        </p>
                                        <p>
<span class="ar1font">AR-1</span> allows you to focus on what matters most: the road ahead.
                                    </p>
                                </div>
                                <hr class="mb48 mb-xs-24">
                                <!-- 
                                <form class="add-to-cart" action="https://skully.foxycart.com/cart" method="post" accept-charset="utf-8" class="foxycart">
                                <input type="hidden" name="code" value="SKU1">
                                <input type="hidden" name="price" value="1499.99">
                                <input type="hidden" name="name" value="SKULLY AR-1">
                                <select id="color" name="color">
                                    <option value="Matte Black">Matte Black</option>
                                    <option value="Gloss White">Gloss White</option>
                                </select>
                                <select id="size" name="size">
                                    <option value="Small">Small</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Large">Large</option>
                                    <option value="X-Large">X-Large</option>
                                    <option value="XX-Large">XX-Large</option>
                                </select>
                                    <input name="quantity" class="gray" id="quantity" type="text" placeholder="QTY" />
                                    <input type="submit" value="Add To Cart" />
                                </form> 
                                -->
                                <form action="https://skully.foxycart.com/cart" method="post" accept-charset="utf-8" class="add-to-cart foxycart">
                                <input type="hidden" name="code||5a00076acf9fa013e9d70febb3e73d819002052a119530d4abeabddd4304e16c" value="SKU1">
                                <input type="hidden" name="price||7ab2ca47d9a4d4067cf7b05381f50ca096f347e63449d7a5c33fcd23d9d92464" value="1499.99">
                                <input type="hidden" name="name||072c83a64869497ecf0092791f0326df75ae5f4de7c9fc2d868ffe6b961e15a3" value="SKULLY AR-1">

        <div class="color-picker picker-wrapper">
            
            <div class="instructions emphasis">Choose a color:</div>
            <div class="picker">
                <div class="col-1-2">
                    <input type="radio" id="black" name="color" class="color" value="Matte Black||e2397a5dfdd1e1b632391ac7ade4211cae973e6cb0c579be444db01d6e11de42" checked>
                    <label for="black">
                        <img class="display-small-hide" src="static/img/blackhelmet_store.png">
                        <div class="display-small-only mobile-color-picker-circle"></div><p>Matte Black</p>
                    </label>
                </div>
                <div class="col-1-2">
                    <input type="radio" id="white" name="color" class="color" value="Gloss White||30aa9f422dacc34ad17419b4f7f8cbaa517232fb80fd9f81d4c802cd48b1fe17">
                    <label for="white">
                        <img class="display-small-hide" src="static/img/whitehelmet_store.png">
                        <div class="display-small-only mobile-color-picker-circle"><div></div></div><p>Gloss White</p>
                    </label>
                </div>
            </div>
            
        </div>



<div class="size-picker picker-wrapper">

        <div class="instructions emphasis">Choose a size:</div>
            <div class="picker">
                <div class="col-1-5 small">
                    <input type="radio" id="small" name="size" value="Small||8e5dad98f10ac6b1014333c1555faff856b5c1503a73cf7c3f9cc5d9776b634c">
                    <label for="small">
                        <div class="sizing">
                            <div class="pictograph"></div>
                        </div>
                        <p>S</p>
                    </label>
                </div>
                <div class="col-1-5 medium">
                    <input type="radio" id="medium" name="size" value="Medium||12aa0d14154da0a95258314197237a4dbed5bd73cf69a3d751c4e643c94779ff" checked>
                    <label for="medium">
                        <div class="sizing">
                            <div class="pictograph"></div>
                        </div>
                        <p>M</p>
                    </label>
                </div>
                <div class="col-1-5 large">
                    <input type="radio" id="large" name="size" value="Large||3580d87a0c7c40bea6fec883bda6d6671f95aa64753b107052a1626379a2ce33">
                    <label for="large">
                        <div class="sizing">
                            <div class="pictograph"></div>
                        </div>
                        <p>L</p>
                    </label>
                </div>
                <div class="col-1-5 x-large">
                    <input type="radio" id="x-large" name="size" value="X-Large||c3eae101e90b0e487e56cde26d2cb1def3af2b429df78b2c2370a768d0e1168f">
                    <label for="x-large">
                        <div class="sizing">
                            <div class="pictograph"></div>
                        </div>
                        <p>XL</p>
                    </label>
                </div>
                <div class="col-1-5 xx-large">
                    <input type="radio" id="xx-large" name="size" value="XX-Large||8efd63ec299061aee922dfc51fc6e5d38992fe55eea03189a34f3605855a013e">
                    <label for="xx-large">
                        <div class="sizing">
                            <div class="pictograph"></div>
                        </div>
                        <p>XXL</p>
                    </label>
                </div>
            </div>
            </div>
<!--                                 <select id="size" name="size">
                                    <option value="Small||8e5dad98f10ac6b1014333c1555faff856b5c1503a73cf7c3f9cc5d9776b634c">Small</option>
                                    <option value="Medium||12aa0d14154da0a95258314197237a4dbed5bd73cf69a3d751c4e643c94779ff">Medium</option>
                                    <option value="Large||3580d87a0c7c40bea6fec883bda6d6671f95aa64753b107052a1626379a2ce33">Large</option>
                                    <option value="X-Large||c3eae101e90b0e487e56cde26d2cb1def3af2b429df78b2c2370a768d0e1168f">X-Large</option>
                                    <option value="XX-Large||8efd63ec299061aee922dfc51fc6e5d38992fe55eea03189a34f3605855a013e">XX-Large</option>
                                </select> -->
                                    <input name="quantity||1bedd40e033b55a2f490584ff5fb899a2f3b85dc1b01a58492c31c97c45d65b5||open" class="gray" id="quantity" type="text" placeholder="QTY" />
                                    <input type="submit" value="Add To Cart" />
                                </form> 
                            </div>

                        </div>
                        <!--end of row-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tabbed-content text-tabs">
                                    <ul class="tabs">
                                     <li class="active">
                                            <div class="tab-title">
                                                <span>Size Guide</span>
                                            </div>
                                            <div class="tab-content">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="opacity: .5">SHOEI RF-1200</th>
                                                            <th>SKULLY AR-1</th>
                                                            <th>HAT SIZE</th>
                                                            <th>CM</th>
                                                            <th>INCHES</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="opacity: .5">S</td>
                                                            <td style="font-weight: bold" >M</td>
                                                            <td>6<sup>7/8</sup> - 7</td>
                                                            <td>55 - 56</td>
                                                            <td>21<sup>5/8</sup> - 22</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="opacity: .5">M</td>
                                                            <td style="font-weight: bold">L</td>
                                                            <td>7<sup>1/8</sup> - 7<sup>1/4</sup></td>
                                                            <td>57 - 58</td>
                                                            <td>22<sup>1/2</sup> - 22<sup>7/8</sup></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="opacity: .5">L</td>
                                                            <td style="font-weight: bold">XL</td>
                                                            <td>7<sup>3/8</sup> - 7<sup>1/2</sup></td>
                                                            <td>59 - 60</td>
                                                            <td>23<sup>1/4</sup> - 23<sup>5/8</sup></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="opacity: .5">XL</td>
                                                            <td style="font-weight: bold">XXL</td>
                                                            <td>7<sup>1/2</sup> - 7<sup>5/8</sup></td>
                                                            <td>60 - 61</td>
                                                            <td>23<sup>5/8</sup> - 24</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="opacity: .5">XXL</td>
                                                            <td style="font-weight: bold">XXL</td>
                                                            <td>7<sup>5/8</sup> - 7<sup>3/4</sup></td>
                                                            <td>61 - 62</td>
                                                            <td>24 - 24<sup>3/8</sup></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Description</span>
                                            </div>
                                            <div class="tab-content">
                                                <p>
                                                    For more information on the AR-1, visit the <a href="/">AR-1 page.</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Reviews</span>
                                            </div>
                                            <div class="tab-content">
                                                <p class="lead">&quot;I want to own the best motorcycle helmet in the world, to improve my commute factors with the latest technology available and for safety. And SKULLY can provide exactly that.&quot;</p>
                                        <div class="quote-author">
                                            <h5 class="uppercase mb0">Cheol</h5>
                                            <span>Air Force transportation officer on SKULLY AR-1 experience</span>
                                        </div>
                                            </div>
                                        </li>
                                     </ul>
                                </div>
                                <!--end of text tabs-->
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of product single-->
                    <p class="sub">Want to try it in-store? Check out our <a href="map">Dealer Locator</a>
                </div>
                <!--end of container-->
            </section>
            {{> footer}}
        </div>
        {{> scripts}}
        <!-- FOXYCART -->
<script src="//cdn.foxycart.com/skully/loader.js" async defer></script>
<!-- /FOXYCART -->

<script type="text/javascript">

var temp = false;

$('#cart').hover(function(){
    if (temp)
        $('.cart-dropdown').fadeIn(200);
},
    function() {
        $('.cart-dropdown').fadeOut(200);
});

$('input[name=color]:radio').change(function(){
    if ($('input[name=color]:checked').attr('id') == 'black') {
        $('#helmet_img').fadeOut(200, function() {
            $('#helmet_img').attr('src', 'static/img/blackhelmet_store.png');
        }).fadeIn(200);
    }
    else {
        $('#helmet_img').fadeOut(200, function() {
            $('#helmet_img').attr('src', 'static/img/whitehelmet_store.png');
        }).fadeIn(200);
    }
})

var FC = FC || {};
FC.onLoad = function () {

    FC.client.on('ready.done', function () {

        FC.client.request('https://'+FC.settings.storedomain+'/cart?').done(function(dataJSON) {
            if (dataJSON.item_count > 0) {
                $('.cart2').css('display', 'inline');
                $('.cart1').css('display', 'none');
                temp = true;
            } else {
                $('.cart2').css('display', 'none');
                $('.cart1').css('display', 'inline');
            }
        });


        FC.client.on("cart-item-remove.done", function() {
            FC.client.request('https://'+FC.settings.storedomain+'/cart?').done(function(dataJSON) {
                if (dataJSON.item_count < 1) {
                    $('.cart2').css('display', 'none');
                    $('.cart1').css('display', 'inline');
                    buildMini();
                }
            });  
        })

        FC.client.on("cart-submit.done", function() {
            temp = true;
            $('.cart2').css('display', 'inline');
            $('.cart1').css('display', 'none');
            buildMini();
        })

        var rows = "";
        buildMini();
})
}

function buildMini() {
    var rows = "";
        FC.client.request('https://'+FC.settings.storedomain+'/cart?').done(function(dataJSON) {
            rows = "";
            for (var i = 0; i < dataJSON.items.length; i++) {
                buildMiniCart(dataJSON.items[i].name, dataJSON.items[i].price_each, dataJSON.items[i].options, dataJSON.items[i].quantity)
            }

            rows += "<tr>";
            rows += "<td></td>";
            rows += "<td></td>";
            rows += "<td>Total:</td>";
            rows += "<td>$" + dataJSON.total_order + "</td>";
            rows += "<td></td>";
            rows += "</tr>";

            $("#cart-dropdown-content").html(rows);
        });

        function buildMiniCart(name, price, options, quantity) {
            rows += "<tr>";
            rows += "<td>" + name + "</td>";
            rows += "<td>" + options[0].value + "</td>";
            rows += "<td>" + options[1].value + "</td>";
            rows += "<td>$" + price + "</td>";
            rows += "<td>x" + quantity + "</td>";
            rows += "</tr>";
        }

}

</script>
    </body>
</html>
