{{> header title="SKULLY Support" bodyClass="support-page"}}
<div class="nav-container">
  {{> navbar}}

  <section class="page-header bg-dark">
    <div class="container">
      <div class="row">
        <h1 class="page-title">Support</h1>
        <div class="col-xs-4">
          <a href="mailto:help@skully.com">
            <i class="icon-mail-alt"></i>
            <span>help@skully.com</span>
          </a>
        </div>
        <div class="col-xs-4">
          <a href="">
            <i class="icon-comment"></i>
            <span>Live Chat</span>
          </a>
        </div>
        <div class="col-xs-4">
          <a href="tel:1-844-475-8559">
            <i class="icon-phone"></i>
            <span>844-4-Skully</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white support-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 sidebar">
          <ul>
            <li class="active"><a href="">FAQ's <i class="icon-angle-right"></i></a></li>
            <li><a href="">How To <i class="icon-angle-right"></i></a></li>
            <li><a href="">Manuals <i class="icon-angle-right"></i></a></li>
          </ul>
        </div>
        <div class="col-sm-8">
          <div id="zendeskArticles"></div>
          <div id="zendeskArticlesDev"></div>
        </div>
      </div>
    </div>
  </section>

  <div class="zendesk-widget">
    <!-- Start of skully Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","skully.zendesk.com");
    /*]]>*/</script>
    <!-- End of skully Zendesk Widget script -->
  </div>
  {{> footer-minimal}}
</div>
<script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
<script>

// fetch & render zendesk articles
(function() {

  var domReady = function(callback) {
    document.readyState === "interactive" || document.readyState === "complete" ? callback() : document.addEventListener("DOMContentLoaded", callback);
  };

  // retrieve FAQ's from zendesk API
  var fetchZendeskArticles = function() {
    var req = new XMLHttpRequest();
    req.addEventListener("load", function() {
      var sortedArticles = sortZendeskArticles(JSON.parse(this.responseText));
      renderZendeskArticles(sortedArticles);
    });
    req.open("GET", "https://skully.zendesk.com/api/v2/help_center/articles.json?include=sections&per_page=100");
    req.send();      
  };

  // organize zendesk response data (sort articles and group by section)
  var sortZendeskArticles = function(data) {
    var articles = _.groupBy(data.articles, 'section_id');
    var sections = _.chain(data.sections)
      .sortBy('position')
      .map(function(section) {
        section.articles = _.sortBy(articles[section.id], 'position');
        return section;
      })
      .value();

    return sections;
  };

  // render the complete FAQ content
  var renderZendeskArticles = function(sections) {
    var wrapper = document.getElementById("zendeskArticles");
    var innerHTML = "";

    _.forEach(sections, function(section) {
      innerHTML += renderSection(section);
    });

    wrapper.innerHTML = innerHTML;
  };

  // render an individual section
  var renderSection = function(section) {
    return '<div class="section"><h3><a href="'+section.html_url+'">'+section.name+'</a></h3>'+renderArticles(section.articles)+'</div>';
  };

  // render the list of articles
  var renderArticles = function(articles) {
    var articlesHTML = "";
    _.forEach(articles, function(article) {
      articlesHTML += renderArticle(article);
    });
    return '<ul class="article-list">'+articlesHTML+'</ul>';
  };

  // render an individual article
  var renderArticle = function(article) {
    return '<li><a href="'+article.html_url+'">'+article.title+'</a></li>';
  };

  domReady(fetchZendeskArticles);

})();

</script>
{{> scripts}}
</body>
</html>
