{{> header title="SKULLY Support" bodyClass="support-page"}}
{{> chat-widget}}
<div class="nav-container">
  {{> navbar}}

  {{> support-header}}

  <section class="bg-white support-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
          <ul>
            <li class="active"><a href="/support">FAQ's <i class="icon-angle-right"></i></a></li>
            <li><a href="/how-to">How To <i class="icon-angle-right"></i></a></li>
            <li><a href="/manuals">Manuals <i class="icon-angle-right"></i></a></li>
          </ul>
          {{> support-sidebar-extras}}
        </div>
        <div class="col-sm-8 col-md-9">
          <div class="search-box">
            <form role="search" class="search" data-search="" action="https://skully.zendesk.com/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /><input type="search" name="query" id="query" placeholder="Search FAQ's" />
            <input type="submit" name="commit" value="Search" /></form>
          </div>
          <div id="zendeskArticles" class="articles"></div>
        </div>
      </div>
    </div>
  </section>

  {{> footer-minimal}}
</div>
{{> scripts}}
<script src="https://cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
<script src="static/js/faq.js"></script>
</body>
</html>
