{{> header title="TEST"}}
<div class="nav-container">
    {{> navbar}}
</div>
<div class="main-container">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <section class="video-background bg-black">
        <div class="video-container">
            <div class="title-container">
                <div class="headline">
                    <h1 id="superhuman" class="uppercase">SUPERHUMAN</h1>
                </div>
                <div class="description">
                    <h2 id="bydesign">BY DESIGN</h2>
                </div>
            </div>
            <video autoplay loop class="fillWidth">
                <source src="http://dg6vcgn2vehm4.cloudfront.net/videos/indexvid.mp4" type="video/mp4">
                <source src="http://dg6vcgn2vehm4.cloudfront.net/videos/indexvid.webm" type="video/webm">
                <source src="http://dg6vcgn2vehm4.cloudfront.net/videos/indexvid.ogv" type="video/ogv">
                Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="bg-image mobile-image" id="index1img">
                <div></div>
            </div>
        </div>
    </section>
</div>
<!-- /container -->
{{> footer}}
</div>
{{> scripts}}
</body>

</html>
