{{> header title="SKULLY User Guide"}}
</head>
<body>
    <div class="nav-container">
        {{> navbar}}
         
        <section class="scroll bg-white image-bg">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="static/img/userguide.jpeg">
                </div>
                <div class="container">
                    <div class="row text-center mb128">
                        <div class="col-md-12">
                            <h2 class="black">Download user guide</h2>
                            <a href="SKULLYAR1-UserGuide.pdf" class="black btn btn-mega">Download</a>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-3 col-sm-12">
                            <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_35ox18daca popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:169px;width:300px">&nbsp;</span>
                        </div>
                        <div class="col-md-8 col-md-offset-1">
                            <h3>Visor Open and Close</h3>
                            <h4>Description</h4>
                        </div>
                        
                    </div>
                    <div class="row">
                    <div class="col-md-3 col-sm-12">
                            <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_704h93gtb2 popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:169px;width:300px">&nbsp;</span>
                        </div>
                        <div class="col-md-8 col-md-offset-1">
                            <h3>Measuring Your Head</h3>
                            <h4>Description</h4>
                        </div>
                        
                    </div>
                    <div class="row">
                    <div class="col-md-3 col-sm-12">
                            <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_94jzro9msz popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:169px;width:300px">&nbsp;</span>
                        </div>
                        <div class="col-md-8 col-md-offset-1">
                            <h3>Voice Commands</h3>
                            <h4>Description</h4>
                        </div>
                        
                    </div>
                    <div class="row">
                    <div class="col-md-3 col-sm-12">
                            <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_4jbvhdccqu popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:169px;width:300px">&nbsp;</span>
                        </div>
                        <div class="col-md-8 col-md-offset-1">
                            <h3>On and Off</h3>
                            <h4>Description</h4>
                        </div>
                        
                    </div>
                </div>
            </section>

        {{> footer}}
    </div>
   {{> scripts}}
    </body>
</html>
