{{> header title="SKULLY Privacy Policy"}}
</head>
<body>
    <div class="nav-container">
        {{> navbar}}
         
<section class="bg-primary">
<div class="container">

[INTRODUCTION]

CHANGING THE WAY YOU RIDE [placeholder headline]

The SKULLY AR-1 provides an entirely new riding experience. It changes the way you see and feel the road. The AR-1 also requires you to adopt new habits and alter existing patterns to take full advantage of its groundbreaking technology.

That’s why it’s essential that you read and understand the following manual completely. Remember, the AR-1 is primarily a safety device, and it must be used as directed to provide maximum protection.

It is highly recommended that your wear and familiarize yourself with the AR-1 before riding with it. Please be aware of local traffic laws that may apply to the use of certain features of the AR-1. [EXAMPLE?]


[TABLE OF CONTENTS]

TABLE OF CONTENTS

[TBD]

[SAFETY INFORMATION]

SAFETY INFORMATION

Ride safely. The SKULLY AR-1 is designed to provide maximum safety and comfort, however motorcycle riding presents specific challenges and risks. The AR-1 can help reduce but not eliminate this risk of injury. Please observe all applicable traffic laws and use caution when riding a motorcycle.

The ability of the helmet to protect the wearer is limited. No helmet can protect the wearer against all possible impacts. [Schuberth]

Use the AR-1 only as instructed by this manual. Failure to do so may result in unsafe riding conditions and will void the warranty.

Before riding, make sure your helmet fits properly and that you are comfortable with the size and the weight of the helmet. The helmet chinstrap must be securely fastened at all times when riding with the AR-1. Failure to fit and fasten helmet properly may cause the helmet to come off the wearer in an accident and result in severe injury or death.

For proper fit and safety, the helmet must always be worn with the lining attached.

The AR-1 is precision-engineered and ruggedly constructed to provide maximum protection for the rider. However, the helmet should be handled carefully to avoid reducing the protection it provides. Dropping the helmet on the ground can degrade performance and should be avoided. If the helmet is dropped from a moving vehicle, it could sustain damage that is not visible but serious.

After your helmet has experienced a substantial impact, it’s safety features may be compromised. The damage may not be visible, but the ability of the helmet to protect wearer is reduced. Shock absorbing materials within the helmet will have become compacted, reducing the ability to absorb further shocks.

If you think your helmet’s safety performance is compromised for any reason, do not use the helmet for riding. A helmet that has been involved in a serious impact should be destroyed [returned to SKULLY?] and replaced. 

Do not use the top vent or spoiler a handle. These pieces are designed to break off on impact in the event of a crash.

Keep visor closed at all times when riding. The visor protects you from wind, dust, stones, insects and other minor road debris. It does not provide protection against all hazards.

Do not place your helmet on the gas tank. Escaping vapors can damage the fabric of AR-1’s protective liner.

The AR-1 is designed for riders of at least XX years of age.

Because the AR-1 uses Bluetooth® wireless technology, it may cause interference with other communication systems. You should switch off the AR-1:

IN HOSPITALS AND AROUND MEDICAL DEVICES
IN AIRCRAFT
BEFORE REFUELING YOUR MOTORCYCLE.
NEAR BLASTING SITES

Follow any instruction posted in these circumstances (or others) regarding wireless devices.

Use caution when viewing the Heads-Up Display. Use only as directed and avoid concentrating on the HUD while riding. Failure to do so can cause distractions that may result in injury or death.

Please be aware of local traffic laws that may apply to the use of certain features of the AR-1.

Do not attempt to charge the AR-1 while riding.

Do not attempt to modify the helmet in any way. Do not remove or add any parts, or change any physical aspect of the helmet. Doing so may reduce the ability of the helmet to protect the wearer and will void the warranty.

Do not throw or sit on helmet. Do not ride with helmet hanging from helmet holder or hang helmet from angled hook.

Do not expose liner of helmet to bright sunlight. Do not place helmet near heat sources that exceed 50° C (122° F)

Do not expose helmet to harsh chemicals, including bleach, ammonia, gasoline, and other solvents. Additionally, substances such as insect repellent and brake fluid can damage the helmet and reduce its ability to provide protection. 

[CONTENTS]

PACKAGE CONTENTS

Helmet
Helmet bag
Charging cable
External battery
Wall charger
Quick Start Guide



SKULLY AR-1 FEATURES

Control button

SKULLY Heads Up Display (HUD) with Synapse™ technology

HUD adjustment knob

LED status indicator lights

Air vents

Photochromic visor

180º rear view camera

Quick-release latch

USB port for charging


[FIT]

PROPER FITTING OF THE AR-1

A proper helmet fit is required for optimal safety. The AR-1 shell comes in one size, but the liner comes in sizes from X to X to ensure a proper fit for almost all riders. Refer to the sizing chart below


[SIZING CHART]


Follow these steps to ensure a proper fit:

Note: If you’re wearing eyeglasses, remove them before putting on the helmet.

Open chinstrap and pull straps to sides.
Place helmet on head pull down firmly but slowly.
Make sure internal padding fits snugly but not uncomfortable.
While wearing helmet, use both hands to move the helmet up-and-down and side-to-side. The internal padding should fit snugly against your face and restrict significant movement by the helmet.

Please note that the chinstrap must be securely fastened at all times when riding with the AR-1.


[NEED ILLO HERE]


[CHINSTRAP]

CHINSTRAP INSTRUCTIONS


Adjust the size of the chinstrap using the ratchet system.

[NEED ILLO HERE]


The chinstrap should fit tightly but not uncomfortably. You should not be able to remove the helmet from your head when the chinstrap is fastened. Periodically check to make sure the chinstrap has not loosened with use. Tighten if necessary. 

Please note that the chinstrap must be securely fastened at all times when riding with the AR-1.

 
QUICK RELEASE LATCH

The AR-1 chinstrap features a quick-release latch. [NEED ILLO]


[VISOR]

VISOR ADJUSTMENT AND REMOVAL

How does visor come off?

Construction? What is it made of? Anything to highlight here?

The photochromic AR-1 visor darkens automatically when exposed to sunlight, then adjusts back to clear when in dimmer light or darkness.



[OPERATION] NATHANIEL/ANDREW

The SKULLY AR-1 ships with a fully-charged battery. 

Use the supplied USB cable to connect with a desktop or laptop computer to charge the AR-1. 

Do not attempt to charge the AR-1 while riding.


[TURNING ON THE AR-1]

The control button is located in the left side of the chin bar inside the helmet. Extend your index finger through the opening in the chin skirt to find the button.

Press the button once to turn on the AR-1. 

To turn off the AR-1, press and hold down button for at least 6 seconds.

The control button also operates other features such as music, navigation and phone. 


[CONTROL BUTTON FUNCTIONS] CHRIS

Power on (if helmet is off)

After helmet is on:

1 Click: 
Play music
Pause music (music automatically pauses when incoming call)
Answer call
End Call

2 Clicks:
Next song
Reject call

3 Clicks:
End navigation
Show helmet serial number / Firmware version? Chris to confirm

Long press (about 1 second):
Previous song

Very long press (longer than 6 seconds):
Turn off helmet


[INDICATOR LIGHTS]


[SHOW TABLE OF INDICATOR LIGHT FUNCTIONS]



[SET-UP AND CONFIGURATION] CHRIS

[HUD OPERATION]

Note: You must download the AR-1 app to activate Heads-up Display screen.

Use the HUD to see 180º blindspot camera view, GPS, and other information.

Please take time to familiarize yourself the HUD and blindspot camera before riding your motorcycle. Using the HUD and blindspot camera will be a new experience and you should be comfortable with it before riding.



ADJUSTING HUD

The HUD can be adjusted vertically (up and down), laterally (side-to-side), and can be viewing angle can also be rotated within a limited range. For the ideal view, adjust the HUD until the viewing rectangle is centered within the screen.

Vertical – use knob on bottom right of helmet to raise and lower HUD

Lateral – HUD slides left and right for optimum viewing position

Angled – Twist HUD slightly to change the angle for optimum viewing position

Please note that only slight movements are required to adjust HUD. Do not attempt to force the HUD if you feel resistance.


[DOWLOADING APP]

DOWNLOADING THE SKULLY APP

Note: You must download the AR-1 App to activate many of the helmet’s functions, like the blindspot camera and the Heads-Up display. Please review the terms and conditions and indicate your agreement.


System Requirements: 

iOS – 7 and above

Android – Jelly Bean (18) and above



For Android™: 

Go to Google Play Store
Look for “SKULLY”
Click on download


For IOS:

Go to the App Store
Look for “SKULLY”
Click on download

[SHOW ON BOARDING SCREENS]

Before you can activate your AR-1, you must review and agree to the safety information and terms and conditions on your phone screen. 

[Your helmet is unlocked]

[Enter an alias]

[Current Location screen – any action required? – enter? Confirm?]

[UPDATING APP]

Need information on how customers will be notified of updates and how they will download them.

[BLUETOOTH PAIRING] CHRIS

BLUETOOTH® PAIRING INSTRUCTIONS

System Requirements: 

iOS – 7 and above

Android – Jelly Bean (18) and above



Follow these instructions for both Android™ and iOS:

Turn on helmet

Using your smartphone:

Go to Settings
Tap on Bluetooth
Tap SKULLY
Tap on SKULLYHELMET___________ [Enter your AR-1 helmet serial number]


The HUD screen will appear black, but you will hear audio cue to direct to further instructions.



[CONNECTING TO MUSIC VIA BLUETOOTH]

Connect with Bluetooth for Music streaming iOS and Android

Power on helmet 

-- To stream music from your iOS device to helmet, pair your helmet with your iOS device. This is done using "classic" Bluetooth, and is entirely handled by native iOS Operating System.

-- To pair your helmet, go to Settings, then tap on Bluetooth -> Enable it (ON) make sure Bluetooth is on -> tap on your helmet - shown as SKULLYHELMET [SK__________11 characters].

-- Once the helmet is connected, press Home button and then launch SKULLY app.

Note: Launching SKULLY app on an iOS device will automatically search for your helmet and connect with it over Bluetooth Low Energy (BLE) and not Bluetooth Classic, for sending various Navigation and OTA commands. 

Please note that your helmet will connect automatically to BLE. You can see the progress of the BLE connection at bottom right side of your app.



[Creating Spotify Account] CHRIS

CREATING SPOTIFY ACCOUNT

Tap on music note icon or Track info bar [iOS and Android] and log into existing Spotify account


[NAVIGATION MODE]


How to use the SKULLY AR-1 Android/iOS Companion App

Once paired, start SKULLY app on mobile phone
Tap top search bar at top of screen and enter your destination.
Results for destination should appear under search bar after a brief wait.
If results do not appear, ensure phone has internet connectivity.
Tap a location result.
Select route preference.
Tap start at bottom of screen
Confirm phone starts navigating to the destination.
• Confirm helmet shows navigation data across top of Heads-Up Display.

To cancel navigation press X in upper right corner of screen, or use voice command, or triple click on helmet control button.



[VOICE COMMAND] PERRY

VOICE COMMAND MENU

You can use voice commands to control music, navigation and more.


VOICE COMMAND MENU

Voice Command mode is activated when you say “OK SKULLY.” Following this prompt you will hear a beep. You may then speak the following voice commands.

“Volume Up”
Increase Volume

“Volume Down”
Decrease Volume

“Mute”
Quiet

“Yes”
Answer
Pick Up
Accept Call

“Redial”
Call Last Number Dialed

“No”
Ignore
Reject Call

“Music”
Play Music

“Pause Music”
Pause
Stop Music

“Skip”
Skip Track
Skip Music
Next
Next Song

Previous Song (question to Perry 11/12)

“Battery”
Battery Level

“Home”
Go Home
Take Me Home

“Work”
Go To Work
Take Me To Work

“Stop Navigation”
Cancel Navigation

[CARE AND CLEANING] NATHANIEL?

CLEANING THE SKULLY AR-1

NOTE: Use only mild dish soap to clean the AR-1. Do not use any solvents, such as gasoline or ammonia, or other harsh chemicals.

CLEANING THE SHELL

Before using any cleaner, place a warm, damp cloth on the helmet for approximately five minutes. This will make dried insects and other road debris easier to remove.

Use a clean, soft cloth and a solution of water and mild dish soap, wipe the helmet to remove dirt and road debris.

Use a separate dry, soft cloth to remove any water/soap residue.

CLEANING THE LINER

Remove the liner from the helmet and hand wash using a solution of water mild detergent at a maximum temperature of 80 °F. Air-dry damp linings to at room temperature.

CLEANING THE VISOR

It’s important to keep your helmet visor clean and clear for maximum visibility. If your ability to see through the visor is impaired for any reason, you must clean it before riding. If the visor has become so scratched that it effects visibility, or you are unable to clean the visor, you should contact SKULLY for a replacement.

Clean the SKULLY AR-1 visor only with mild soap diluted in tap water. Rinse well with clean tap water, and dry with a soft cloth. Do not use any solvents such as, gasoline, ammonia or other solvents. Do not drive with a dim or blurred shield. Impaired vision can cause an accident resulting in serious personal injury or death.


[TECHNICAL SPECIFICATIONS] ANDREW AND MILAN

[FROM SNOW 2]

[SHOW LOGOS OF APPICABLE REGULATORS – FCC, EC, etc]

Processor Subsystem
Processing On-board Memory

Mechanical Specifications
1 GHz Dual-core ARM Cortex-A9 with PowerVR SGX540 1GB DDR2 SDRAM | 2GB Flash
Weight - ~65Grams (~2.3oz) Storage Temperature Range - -20°C to 60°C (-4°F to 140°F) Operating Temperature Range - -20°C to 30°C (-4°F to 86°F) Vibration Resistance - 4.4g rms 5 Hz to 2000 Hz Shock / Drop Resistance - 40 g, 15-23 ms, 1⁄2 Sine (1m Vertical Drop) Enclosure - Water Resistant Enclosure, IP65

Sensor Technology
9-Axis Sensors - 3D Accelerometer | 3D Gyroscope | 3D Magnetometer Pressure Sensor - Altimeter & Barometer Application

Display & Virtual Image
Display Resolution - Widescreen 16:9 WQVGA Ultra-compact Display 428x240 Display Type - LCD Micro Display Virtual Image Size - 14” from 5 ft Color Depth - High Color 16-bit (5:6:5)
Brightness & Contrast Control - High Contrast & Brightness for Readability in High Ambient Light – Adjustable Power-saving Sleep Mode

Networking Subsystem
Bluetooth 4.0 (Bluetooth Smart) Apple MFi Bluetooth Support Wi-Fi (IEEE802.11a/b/g/n) GPS - INS Kalman Filtering Fusion Algorithm USB/Micro-USB 2.0 (5-pin) - Device Charging/Power & Data Transfer

Power requirements
Primary Supply Voltage - 3.7 Lithium Polymer Rechargeable Battery Charge Time - 3hrs = 100% – Device Fully Charged Battery Size & Life - 1200 mAh = 6 Hours+ Per Charge

System Requirements
Windows PC - Intel Pentium 4 or Higher, Windows 7 or Higher Mac - Intel Core Duo or Higher, Mac OS X v10.6.8 or Later

Environmental Considerations
RoHS Compliant Brominated Flame-retardant-free Mercury-free


[COMPLIANCE]

[FROM SCHUBERTH SR-1]

DOT/ECE COMPLIANCE

CONFORMANCE TO STANDARDS

The helmet conforms to the DOT 218 Standard and the ECE R 22.05 standard. These test standards guarantee conformity to defined safety standards in respect of impact absorption, penetration resistance, lateral rigidity, retention system and field of vision. The approval guarantees that you have approval for the USA
and all the countries of the European Union as well as countries which recognize the ECE R 22.05 or DOT 218 standard. It is only legal to use it in countries where these standards are valid.

[FROM SNOW 2]

FCC COMPLIANCE

FCC Compliance Class B Digital Device
This equipment has been tested and found to comply with the limits for a Class B digital device, pursuant to part 15 of the FCC Rules. These limits are designed to provide reasonable protection against harmful interference in a residential installation. This equipment generates uses and can radiate radio frequency energy and, if not installed and used in accordance with the instructions, may cause harmful interference to radio communications. However, there is no guarantee that interference will not occur in a particular installation. If this equipment does cause harmful interference to radio or television reception, which can be determined by turning the equipment off and on, the user is encouraged to try to correct the interference by one or more of the following measures:

• Reorient or relocate the receiving antenna.
• Increase the separation between the equipment and receiver.
• Connect the equipment into an outlet on a circuit different from that to which the receiver is connected.
• Consult the dealer or an experienced radio/TV technician for help.
Changes or modifications not expressly approved by the party responsible for compliance could void the user’s authority to operate the equipment.

FCC Declaration of Conformity
Snow2 (FCC ID: ZW5008) and Recon-Ready Remote (ZW5001) comply with FCC standard CRF 47 Part 15 subpart B and subpart C – section 15.249. Operation is subject to the following two conditions:

•This device may not cause harmful interference, and
• This device must accept any interference received, including interference that may cause undesired operation.


###
</div>
</section>   

        {{> footer}}
    </div>
   {{> scripts}}
    </body>
</html>
