{{> header title="SKULLY User Guide"}}
<body>

    <div class="nav-container">
        {{> navbar}}

        <section class="scroll bg-white image-bg">
            <div class="background-image-holder press-image-background-2" ><img alt="image" class=
            "background-image" src="static/img/pressheader.jpeg">
            </div>


            <div class="container">
                <div class="row text-center mb64">
                    <div class="col-md-12">
                        <h2 class="black">Download user guide</h2>
                        <a class="black btn btn-mega" href=
                        "SKULLYAR1-UserGuide.pdf">Download</a>
                    </div>
                </div>


                <div class="row mb16">
                    <div class="col-md-3 col-sm-12">
                        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_35ox18daca popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    </div>


                    <div class="col-md-9">
                        <h3 class="mb0">Visor Open and Close</h3>


                        <p>Description</p>
                    </div>
                </div>


                <div class="row mb16">
                    <div class="col-md-3 col-sm-12">
                        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_704h93gtb2 popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    </div>


                    <div class="col-md-9">
                        <h3 class="mb0">Measuring Your Head</h3>


                        <p>Description<p>
                    </div>
                </div>


                <div class="row mb16">
                    <div class="col-md-3 col-sm-12">
                        </script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_94jzro9msz popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    </div>


                    <div class="col-md-9">
                        <h3 class="mb0">Voice Commands</h3>


                        <p>Description</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_4jbvhdccqu popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
                    </div>


                    <div class="col-md-9">
                        <h3 class="mb0">On and Off</h3>


                        <p>Description</p>
                    </div>
                </div>
            </div>
        </section>
        {{> footer}}
    </div>
    {{> scripts}}
</body>
</html>
