{{> header title="SKULLY Videos" description="Learn about the SKULLY AR-1 augmented reality smart helmet in our product videos, including information about unique motorcycle safety features that set SKULLY apart from other helmets on the road." cssfile='<link href="static/css/youmax_blue_custom.css" rel="stylesheet" type="text/css" media="all" />' }}

<div class="nav-container">
  {{> navbar}}

  <!-- ACTUAL PAGE CONTENT -->
  <div class="main-container">
    <hr class="mb0">
    <section class="bg-dark">
      <div class="container">
        <div id="youmax" class="youmax"></div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>

    {{> footer}}

  </div>

  {{> scripts}}

<script src="/static/js/videos.js"></script>

</body>
</html>
